[2015-10-27 09:02] orlade opened #2 "Mounting data_dir volume loses data"
The README suggests using `docker run -d -v $HOME/geoserver_data:/opt/geoserver/data_dir kartoza/geserver` in order to mount GeoServer's data in a volume. Have you actually tested this? Because it doesn't work for me.

If you specify `-v host/path:container/path` instead of just `-v container/path`, Docker will not copy the contents of `container/path` into the volume to avoid overwriting any file

[2015-12-19 19:33] isuftin opened #3 "Using Tomcat base container but running self-contained Geoserver bin?"
I'm confused as to why you're starting with the Tomcat 8.0 base container but are opting to instead run the self-contained Geoserver binary which runs on Jetty 6.1.8.

My use case is to run this container as part of an integration test and connect the container to a database container and I'd like to use JNDI to do so, but obviously writing the JNDI connection info into /usr/local/tomcat/conf/cont

[2015-12-21 19:18] timlinux commented on #3
I by no means profess to be an expert in GeoServer configuration. Please feel free to provide a pull request if or point me to a relevant installation guide if you have a better way to configure it. I currently don't use this for any production work so I don't do much in the way of maintenance / improvements to it.

[2016-02-03 04:07] alexgleith commented on #3
Hi @timlinux, I think isuftin is right. This dockerfile will work, but it is using Jetty, not Tomcat, so having Tomcat on the server is redundant.

You can do what you're doing by using a basic centos or ubuntu image.

I'm hoping to set up a Dockerfile to use Tomcat and the GeoServer .war file, so I'll come back and do a pull request if I remember!

[2016-03-09 00:57] shane-axiom commented on #3
I was just looking for how to set Tomcat memory options and ran into this. Does anyone strongly prefer either Tomcat or Jetty? I lean toward Tomcat since it's more widely used. Anyone object if I submit a PR to change this to use Tomcat and the Geoserver war?

[2016-03-09 01:13] alexgleith commented on #3
Tomcat is much better, in my opinion. And it's required to support CORS.

[2016-03-09 10:27] shane-axiom commented on #3
This commit fixes #3 by using the GeoServer WAR download with Tomcat instead of the self-contained Jetty version. It also adds support for building the image with GeoServer plugins and adds instructions on setting Tomcat properties such as maximum memory.

[2016-03-15 19:38] #3 closed

[2016-03-16 21:15] shane-axiom commented on #2
@orlade Not sure which problem you're running into. If you map a volume to the container's `/opt/geoserver/data_dir`, the intention that the volume should completely replace the GEOSERVER_DATA_DIR inside the container. Using an empty directory for the mapped volume on the host (e.g. `$HOME/geoserver_data`) works fine. Are you still having issues?

[2016-04-08 17:30] elcodedocle opened #10 "License file"
The licensing terms of this project are not clear. Could you upload a license file to the repository?

[2016-05-16 03:23] alexgleith commented on #2
I agree with @shane-axiom, in that using -v source:target completely replaces the volume (the geoserver data dir). This means that you should store all your config on the host, which is appropriate, as that way you can back up this config, and start/stop/rebuild your docker instance at will.

[2016-06-01 13:20] justb4 commented on #2
I tend to agree with @orlade : I had similar problems: starting without the volume-mapped dir on the host, on initial startup the directory was empty or sometimes even half-empty, e.g. only some GS dirs appeared like ``/styles`` and ``/gwc``. IMHO this seems specific to the Tomcat/GeoServer data-dir initialization, since with other Docker -v volume mounts like ``/usr/local/tomcat/logs`` to non-exi

[2016-06-01 13:26] alexgleith commented on #2
I run this in a production environment with a -v mapping with existing data_dir all the time and it works flawlessly.

It would be good if you could provide steps to reproduce the problem, @justb4?

[2016-06-01 14:29] justb4 commented on #2
On 01-06-16 15:26, Alex Leith wrote:

If you map the GS data_dir from the container to an existing data_dir
containing GS config files on your host, there is no problem. The
problem I found arose with the following or similar steps:

- data_dir on host does not exist or is empty e.g. /etc/geoserver
- start the GS container with docker -v
/etc/geoserver:/opt/geoserver/data_dir
- ls /etc/geoserver s

[2016-06-01 18:34] shane-axiom commented on #2
I can't replicate this problem as reported. The following script is re-runnable and runs a GeoServer 2.8.0 Docker container with an empty directory mapped to the data directory.

[code]

You can use `watch ls -l /tmp/docker_gs_test_data` to monitor the data directory. On startup GeoServer will create a few files/directories:

[code]

And then will create others (`workspaces`, etc) as they are crea

[2016-06-01 20:28] justb4 commented on #2
On 01-06-16 20:34, Shane StClair wrote:

Thanks for diving into this! Yes this/above is the behaviour I see: only
those few dirs created on host. But the dir /opt/geoserver/data_dir
within the container initially contains the full default workspaces,
logging and data (the stuff I usually remove first). Given that
/opt/geoserver/data_dir is for the GeoServer webapp pointed as
$GEOSERVER_DATA_DIR I

[2016-06-01 22:43] alexgleith commented on #2
Hey @justb4, this is the default behaviour for GeoServer when it encounters an empty data directory. It will populate it with default stuff.

I don't think anything that you're experiencing is unexpected!

[2016-06-01 22:56] shane-axiom commented on #2
@justb4 I think the confusion is coming from Docker's normal behavior and has nothing to do with GeoServer. When mounting a host directory as a volume in a Docker container, the host directory's contents replace the container directory's contents (treated like a unix `mount` command). If the container is run again without the host volume mounted, the original contents of the container's directory

[2016-06-02 08:32] justb4 commented on #2
Thanks @shane-axiom @alexgleith! Yes I was confused by the combination of 2 things (see next), but you have cleared this all up.  This issue can be closed AFAIAC. For the record:  the two things that caused my confusion:

1. what happens when mounting empty host dir in Docker container when container-dir is non-empty
2. GeoServer creating minimal config when data dir is empty

Ad 1) I thought the

[2016-06-06 19:35] snario opened #12 "External PostGIS / PostgreSQL"
How do I reference an external PostgreSQL?

Say,

`postgresql://root@192.168.0.1/data`

[2016-09-07 23:13] shane-axiom opened #13 "Upgrade to GeoServer 2.9.x"
GeoServer 2.9.x has been stable for a while now:

http://geoserver.org/release/stable/

GeoServer 2.9 appears to require Java 8:

http://docs.geoserver.org/stable/en/user/production/java.html

This will require a few small changes in the Dockerfile, including a change to use `FROM tomcat:8-jre8`.

Also, the current `master` state (Geoserver 2.8.2) should become a build on Docker Hub. I don't see a

[2016-09-07 23:14] shane-axiom commented on #12
@snario You should be able to connect to external PostgreSQL instances normally. You just won't be able to use `localhost`, `172.0.0.1`, etc addresses because these will reference the GeoServer Docker container and not the host.

[2016-09-07 23:15] shane-axiom commented on #2
@timlinux Ready for closing.

[2016-09-07 23:15] shane-axiom commented on #10
@timlinux Thoughts?

[2016-09-27 02:49] shane-axiom commented on #13
@timlinux Any opinions here? This image needs to stay current if it's going to be useful.

[2016-09-27 14:14] timlinux commented on #13
Hi @shane-axiom

I can take a look and build tagged versions. If you would like to make a PR with your desired changes that would also be welcomed.

[2016-09-28 01:33] shane-axiom commented on #13
Thanks @timlinux. PR for GeoServer 2.9.1/Java 8 is here:

https://github.com/kartoza/docker-geoserver/pull/14

[2016-10-16 00:16] shane-axiom commented on #13
@timlinux While you're looking into setting up automated Docker Hub builds for GitHub tags, could you build and tag a Docker Hub image for 2.9.1? The most current stable version is still 2.8.0:

https://hub.docker.com/r/kartoza/geoserver/tags/

[2016-11-25 10:00] syafiqFiqq opened #16 "How to add geoserver extension?"
Im trying to add geoserver plugin which is control-flow but to no avail.

i add the control-flow jar file to the /usr/local/tomcat/webapps/geoserver/WEB-INF/lib
and the controlflow.properties file to the /opt/geoserver/data_dir

below is my dockerfile

FROM kartoza/geoserver
ADD gs-control-flow-2.9.1.jar /usr/local/tomcat/webapps/geoserver/WEB-INF/lib
ADD controlflow.properties /opt/geoserver/data

[2016-11-25 21:58] timlinux commented on #16
@NyakudyaA can you take a look at this?

[2016-11-26 12:54] gubuntu commented on #16
@syafiqFiqq you might want to try my fork at https://github.com/gubuntu/docker-geoserver. I'm trying a slightly different approach. It installs control flow fine, remember you still have to configure it after installing.

[2016-11-28 04:10] syafiqFiqq commented on #16
@timlinux @gubuntu hi, i have managed to add the plugin after some tweak, however, can i know where to put the config for the control flow, which is the controlflow.properties?

[2016-11-29 01:42] syafiqFiqq commented on #16
problem solved. I found that the config file should be in the root of data_dir.
Thanks all.

[2016-11-29 01:42] #16 closed

[2017-05-09 16:53] rumski20 opened #18 "SSL / HTTPS"
I was able to get a container up and running no problem using the instructions you've provided. However, I ideally want Geoserver being served over HTTPS, which I have set up on the host.
Do you have any idea how to enable this on the container? Is it a Tomcat issue?
Here's the error I receive when I try to access it over HTTPS:

`An error occurred during a connection to data.nrri.umn.edu:32770. S

[2017-10-17 19:00] timlinux commented on #10
@elcodedocle As far as I am concerned docker projects should generally follow the license of the project they are wrapping - in this case GPL - I will add a license file.

[2017-10-17 19:03] #10 closed

[2017-10-17 19:04] timlinux commented on #12
Closing since it is nicely answered by @shane-axiom

Also see the README for notes on how to link a PG container.

[2017-10-17 19:04] #12 closed

[2017-10-17 19:05] timlinux commented on #18
Hmm sorry I don't know what is causing that - maybe its better to ask first in upstream geoserver lists?

[2017-10-17 20:09] timlinux commented on #13
@shane-axiom there is a branch per stable version of GeoServer. Actually the branches generally include the bug fix release because often it is useful to deploy a known good configuration with specific versions. I've updated so that we have builds for all recent  stable versions:

<img width="1272" alt="screen shot 2017-10-17 at 22 07 30" src="https://user-images.githubusercontent.com/178003/31686

[2017-10-17 20:09] #13 closed

[2017-11-16 21:27] modulitos commented on #18
@rumski20 I'm not sure if this is useful for you, but I set up an nginx server in front of Geoserver that uses LetsEncrypt to serve all of the Geoserver content of HTTPS. Here is the Docker Compose file: https://github.com/mapseed/docker-geoserver/blob/master/docker-compose.yml#L60-L75

The setup can definitely use some improvement, but it's been working well enough for me. Feel free to ping me if

[2017-11-21 18:15] rumski20 commented on #18
@modulitos Thanks for the idea. I ended up solving the issue by setting my proxy base URL (which I really should have done to begin with): http://docs.geoserver.org/latest/en/user/configuration/globalsettings.html#proxy-base-url

[2017-11-21 18:15] #18 closed

[2017-12-10 12:54] Boabob opened #21 "Plugin Installation not working?"
I changed the GS_Version within the Dockerfile to:
    ENV GS_VERSION 2.12.1

I downloaded one of the plugin files to:
    docker-geoserver/resources/plugins/geoserver-2.12.1-vectortiles-plugin.zip

Also downloaded:
    docker-geoserver/resources/geoserver.zip

Then built:
    docker build --build-arg TOMCAT_EXTRAS=false -t kartoza/geoserver .

And then started the GeoServer. It became version 2.1

[2017-12-20 14:05] arnonuem opened #23 "overlays not working?"
I am using docker-compose to combine docker-geoserver with some other containers.
In my docker-compose.yml i am pointing at my Dockerfile which basically just contains a
`FROM kartoza/docker-geoserver`. Next to the Dockerfile i created a folder structure like: `resources/overlays/opt/geoserver/data_dir/workspaces/and_so_forth`. When using `docker-compose build` i expected to see that folders and f

[2017-12-22 20:46] paulsenne commented on #21
Had this same issue. The block from 93-100 has the path to the plugins in double quotes and my system did not like this with a wildcard. Removing the double quotes works for me.

Instead of
[code]

this works for me
[code]

[2018-01-11 21:41] BootstrapB opened #24 "Issue Enabling CORS"
I need CORS enabled so I can get WMS layers from geoserver with Cesium. When running my own version of geoserver(not dockerized) I just edit /tomcat/webapps/geoserver/WEB-INF/web.xml and uncomment the CORS filters. I copied the web.xml file, edited it, and then ran docker with the new web.xml mounted by doing: docker run --name "geoserver"  --link postgis:postgis -v ~/web.xml:/usr/local/tomcat/web

[2018-01-11 21:52] #24 closed

[2018-01-30 21:13] MattF-NSIDC commented on #21
https://github.com/kartoza/docker-geoserver/pull/25

[2018-02-08 13:13] timlinux commented on #21
Thanks for the fix @MattF-NSIDC

[2018-02-08 13:13] #21 closed

[2018-02-08 23:06] timlinux commented on #2
Thanks @shane-axiom for your investigating!

[2018-02-08 23:06] #2 closed

[2018-02-08 23:07] timlinux commented on #23
Can you confirm this is not the same issue as #2 ?

[2018-02-15 07:51] arnonuem commented on #23
Yes could be the same.

[2018-04-19 14:47] murarustefaan opened #30 "Building new docker image fails"
# The problem:
Trying to build a docker image using:
`docker build --build-arg ORACLE_JDK=true -t kartoza/geoserver .`
fails.

# Reason:
In the current Dockerfile, lines 41-67 contain 3 install steps. These install steps execute a wget that saves a archive to ./resources, though the dpkg install step tries to execute it from /tmp/resources.
`
RUN if [ ! -f /tmp/resources/libjpeg-turbo-official_1.5

[2018-04-22 18:25] NyakudyaA commented on #30
@mayaro  thanks for picking this up. I have also updated the Readme. We have included the script `download.sh` which you can customise or run as is to install some mandatory GeoServer extensions like gdal,vector tiles. The script also builds some community modules(extensions). The building of comunity modules takes some time and consumes resources so you can comment it out from the `download.sh` s

[2018-04-24 19:15] BootstrapB commented on #24
Oops sorry about it being unclear, the formatting must have messed up when I pasted my code. Thanks for making it more clear!

[2018-07-13 09:42] vwmaus opened #35 "Plugins in setup.sh not installed"
I noticed that the image does not include the plugins which should be installed by `setup.sh`. I solved the issue by creating the plugins tmp folder with this
[code]
before this https://github.com/kartoza/docker-geoserver/blob/efa129d19cbae4fa051ab768ae237b0d6fa3ad50/setup.sh#L39

[2018-07-13 10:51] NyakudyaA commented on #35
@vwmaus  thanks for pointing this out. The line https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L45 adds the resources folder. It should have the plugins folder within that. I will update the repo and add the folder and also add your steps in it.

If there are any other plugins you intend to install you can just download them into the resources/plugins folder

[2018-07-13 11:01] vwmaus commented on #35
Cool, many thanks @NyakudyaA

[2018-07-15 16:17] NyakudyaA commented on #35
Done @vwmaus

[2018-07-15 16:17] #35 closed

[2018-07-15 16:29] #30 closed

[2018-07-17 15:37] urzds opened #38 "Image kartoza/geogig:1.2.0 does not exist"
According to https://hub.docker.com/r/kartoza/geogig/tags/ the only tag of kartoza/geogig is `1.0b1`. The tag `1.2.0` that is referenced in docker-compose.yml does not exist.

[2018-07-18 07:56] NyakudyaA commented on #38
@urzds You can use the latest version in the docker hub. I will create the 1.2.0 image

[2018-07-18 12:40] urzds commented on #38
Thanks. We prefer using tagged versions.

[2018-07-18 12:45] urzds opened #39 "Database connections unclear"
It is unclear to us, how in `docker-compose.yml`, geoserver is made aware of the postgis database. For geogig, I can see that `PGHOST=geogig-db` is provided in `geogig.env`, but I am missing a similar configuration option for geoserver. How does this work? What is the default configuration and where is it set? Especially: How can I point geoserver at another database?

And finally: How does backup

[2018-07-18 13:39] urzds commented on #39
So *geoserver* only depends on the *db* container, if the user manually creates such a setup using the interactive web-interface after starting the geoserver? Otherwise it runs without a backing postgis database?

If I want *geoserver* to use the *geogig* container, I need to manually set this up using the interactive web-interface?

How does *geogig* know that it shall track the changes in the *d

[2018-07-18 14:51] NyakudyaA commented on #39
@urzds https://github.com/kartoza/docker-geoserver/blob/master/docker-compose.yml#L36 specifies that geoserver depends on `db` and `geogig-db` - This implies that these two different databases can be accessed as a Geoserver store.
`db` will be a postgresql store
`geogig-db` will be a geogig store.
In order to use these store you need to set them up as per Geoserver documentation.

In order to vers

[2018-07-18 15:14] urzds commented on #39
Thanks for this thorough explanation!

I would suggest to automate the initial setup further, by creating an entrypoint script that sets up the geogig and/or raw postgis stores (possibly triggered by an environment variable) to ease usage of these containers outside of a local development environment, but I understand you have reasons against doing that.

[2018-07-18 15:14] #39 closed

[2018-07-18 15:23] urzds opened #40 "WARN [org.geoserver] - Failed to load logging configuration file 'logging.xml'"
When starting geoserver, I see this:
[code]

Am I using the image wrongly?

[2018-07-19 07:34] NyakudyaA commented on #40
@urzds those are just basic logging errors when Geoserver starts. You can basically fix those if you want but they do not affect Geoserver, they are basically java notifications nothing serious. You can look at the logs in Geoserver and they will be visible. You can configure them in the Global section whether you want verbose or production logs.

With regards to you entry point script. If you can

[2018-07-23 15:38] urzds commented on #38
`docker-compose.yml` in this repository still refers to a non-existing `image: kartoza/geogig:1.2.0`.

[2018-07-27 12:35] eg-novelt commented on #24
Hello, for me what worked was a few extra parameters, in `/usr/local/tomcat/conf/web.xml` as follows:

[code]

[2018-08-07 09:05] urzds commented on #38
https://hub.docker.com/r/kartoza/geogig/tags/ still shows no sign of a `1.2.0` tag. Are you still working on this, @NyakudyaA ?

[2018-08-07 09:12] NyakudyaA commented on #38
@urzds I will deploy before the end of the week

[2018-08-17 10:39] #40 closed

[2018-08-30 14:56] NyakudyaA commented on #23
This has been resolved in the #2

[2018-08-30 14:56] #23 closed

[2018-10-19 04:50] vipcxj opened #46 "build.sh break the Dockerfile"
[This line](https://github.com/kartoza/docker-geoserver/blob/master/build.sh#L11) break the Dockerfile. Because `${OLD_MAJOR}`, `${OLD_MINOR}` and `${OLD_BUGFIX}` are all empty, this command become `sed -i "s/../13.2.0/g" Dockerfile`.

[2018-10-20 13:58] NyakudyaA commented on #46
closed via https://github.com/kartoza/docker-geoserver/commit/ca26741f4985b78fe1a9d27654f121a90878f77e

[2018-10-20 13:58] #46 closed

[2018-11-09 16:37] beteez opened #51 "Tomcat version is out of date"
The tomcat version the image is built on is pretty old (tomcat 7/jre-8). build options should be included to set those at build time.

[2018-11-19 13:02] NyakudyaA commented on #51
Closed via #https://github.com/kartoza/docker-geoserver/pull/53/commits/43b5df1bccb2fd046da5c0a1f065bcb252d8f80a

[2018-11-19 13:02] #51 closed

[2018-11-27 13:33] stvno opened #54 "overlays not working when building dockers based on this docker-image"
We like to enable CORS on geoserver, as per #24, and store this configuration in our own git repo so we can deploy this on various servers. The way we envisioned this, was to create a `docker-compose.yml` with the relevant dockers and have directories per docker image with extra settings:
[code]
in the `docker/geoserver` directory we have a Dockerfile, a data directory and a resources directory

T

[2018-12-06 15:21] JWDobken commented on #24
This solved my problem!

However, I still get these console errors:

[2019-02-06 16:32] Apo- opened #56 "Failed to install plugins"
It seems like some of the plugins fail to install after running
[code]

The issue seems to be that `wget` (inside scripts/setup.sh) fails on some of them with `Issued certificate has expired.` so adding the `--no-check-certificate` flag solves the problem for us.

[2019-02-06 16:55] NyakudyaA commented on #56
@Apo- thanks for this. Can you build using the develop branch?  It has everything working
I will merge develop into master when I get a chance

[2019-02-06 17:06] Apo- commented on #56
Wasn't expecting such a quick response. `develop` branch seems to be doing the trick. You are a golden shining god.

[2019-02-21 21:18] uamoreno opened #59 "ImageMosaicJDBC error on Publishing"
Hi, after installing the kartoza/geoserver:2.13.0 docker container and installing de ImageMosaicJDBC pluging, I made it to create the Store from a raster in postgis, but on the next screen after clicking on the  Publish button an exception arises:

[C_centralis raster and xml.zip](https://github.com/kartoza/docker-geoserver/files/2891314/C_centralis.raster.and.xml.zip)

org.apache.wicket.WicketRun

[2019-02-22 02:07] #56 closed

[2019-02-22 15:55] NyakudyaA commented on #59
@uamoreno What version of PostgreSQL are you using? Can you try building a new version of the image ie 2.14.2 and see if the error exists.

[2019-02-22 16:22] NyakudyaA commented on #38
Available

[2019-02-22 16:22] #38 closed

[2019-02-25 12:28] uamoreno commented on #59
@NyakudyaA  I am using as docker container too: mdillon/postgis:9.6-alpine
Do you mind to copy a .tif file and his related postgis tables working for you, to testing my environment?

[2019-02-28 09:25] jorgejesus opened #60 "Implement CORS on tomcat"
The image doesn't implement CORS and this is required for webgis developments

Tryied to implement CORS on
`/usr/local/tomcat/conf/web.xml`

By adding the following configuration:
[code]
But still there was problems with CORS not being suported on Chrome (Linux) v71

Some explanation  has been found here:
https://stackoverflow.com/a/24390640/1140558
https://stackoverflow.com/a/39733875/1140558

Se

[2019-03-10 05:32] NyakudyaA commented on #60
@jorgejesus How did you implement the CORS?. Did you have a problem with implementing this?
I think the image provides you with an option to include the CORS. The structure of the web.xml comes from tomcat and how you test the request seems like a user issue more than the image does not do this.

[2019-03-10 05:58] NyakudyaA commented on #54
@stvno I have just tested this on my machine and it works as expected.
![Screenshot 2019-03-10 at 07 53 41](https://user-images.githubusercontent.com/2510900/54081234-cd524b80-4309-11e9-895b-8fa0f637c5f9.png)

Inside the image after building.

![Screenshot 2019-03-10 at 07 53 41](https://user-images.githubusercontent.com/2510900/54081238-e3f8a280-4309-11e9-8e7a-ed7c54e2cbcb.png)

Even though the r

[2019-03-11 05:49] NyakudyaA commented on #59
@uamoreno you can try this dump
[raster.dmp.zip](https://github.com/kartoza/docker-geoserver/files/2950814/raster.dmp.zip)

[2019-03-11 16:45] uamoreno commented on #59
@NyakudyaA thanks I will check and told you the results

[2019-03-14 04:58] genebobmiller opened #61 "GEOSERVER_ADMIN_PASSWORD has no effect"
The following command results in a geoserver instance that still has the default admin password.

[code]

[2019-03-14 12:42] NyakudyaA commented on #61
@genebobmiller I think the changes haven't been built into the image yet. Can you try to build the image yourself either using the master or develop branch?

I will look at why auto builds are not building

[2019-03-14 23:00] genebobmiller commented on #61
Thanks NyakudyaA, I can confirm this feature is working fine in a fresh build from the master branch.

It is not working on the 2.13.0 and 'latest' tags from dockerhub

[2019-03-19 13:24] jorgejesus opened #62 "Can' t login into geoserver"
Steps to replicate:

The login with any password give the following error (see below). Seems there is some problems with the password creation maybe how is it done on script `scripts/update_password.sh`

``
org.jasypt.exceptions.EncryptionOperationNotPossibleException
	org.jasypt.digest.StandardByteDigester.matches(StandardByteDigester.java:1107)
	org.jasypt.digest.StandardStringDigester.matches(S

[2019-03-19 13:41] NyakudyaA commented on #62
@jorgejesus Is this not related to #61

[2019-03-19 14:04] israelshp commented on #62
@NyakudyaA I experience the same issue even when building the image by myself from the master branch.

[2019-03-19 17:13] jorgejesus commented on #62
@NyakudyaA @israelshp  even without setting the password I am getting the same error

[2019-03-19 17:59] jorgejesus commented on #62
The issue was caused by a volume that was used between different GS versions and it caused the problem
@NyakudyaA could you check that there is no volume content contamination on your side, I will then close the issue. Thank you all for the support

[2019-03-19 19:40] NyakudyaA commented on #62
@jorgejesus cc @israelshp I will close this. I have tested this and it works on my side. I always use docker-compose to spin up my images and I use volumes. Perhaps you should try using the docker-compose file that comes in with the repository

[2019-03-19 19:41] NyakudyaA commented on #61
Closing this as well because this has been tested with various versions of geoserver from 2.13 till 2.15

[2019-03-19 22:27] genebobmiller commented on #61
Just confirming that this is not working on 2.13 which is the latest release pushed to dockerhub, it would be great to have a tag with this feature working pushed to dockerhub if possible.

[2019-03-20 09:14] israelshp commented on #62
@NyakudyaA In my case, the problem was that the `update_passwords.sh` script failed to find the right path to the jasypt jar file.
This regex `".*jasypt-[0-9]\.[0-9]\.[0-9].*jar"` [here](https://github.com/kartoza/docker-geoserver/blob/master/scripts/update_passwords.sh#L17) doesn't work for jasypt-1.8.jar, which is the version shipped with GeoServer 2.13.
Changing it to `".*jasypt-[0-9]\.[0-9]\.[

[2019-03-20 09:18] NyakudyaA commented on #62
@israelshp have you tested this with the other versions like 2.14 and see if your regex will apply. I did test with 2.15.0 which I aim to make a new release today and it worked. So I can add that change in the 13 branch

[2019-03-20 09:47] israelshp commented on #62
Yes, tested with 2.13 and 2.14

[2019-03-20 18:36] NyakudyaA commented on #62
@israelshp can you please test the develop branch

[2019-03-22 16:17] NyakudyaA commented on #62
@jorgejesus @israelshp I have pushed a new image 2.15.0 to docker hub.
I did test it locally after pulling

![pull](https://user-images.githubusercontent.com/2510900/54837139-55ebc700-4cce-11e9-8aba-5eae1a5a1194.png)

Password specified in env
![compose](https://user-images.githubusercontent.com/2510900/54837172-68660080-4cce-11e9-8827-d0f91ab62627.png)

Docker-compose using 2.15.0
![compose-file]

[2019-04-04 10:27] NyakudyaA commented on #62
Thanks for testing

[2019-04-04 10:27] #62 closed

[2019-05-02 09:19] serbasii opened #68 "cp: cannot stat issue"
when i exec the command like this;

`docker run -it --name "geoserver" -v "D:/docker/data/geoserver_data:/opt/geoserver/data_dir" -e GEOSERVER_ADMIN_PASSWORD='myawesomegeoserver' -p 8080:8080  kartoza/geoserver`

_cp: cannot stat '/opt/geoserver/data_dir/security/usergroup/default/users.xml': No such file or directory
/scripts/update_passwords.sh: line 25: /opt/geoserver/data_dir/security/usergrou

[2019-05-02 16:11] patleb commented on #68
Same here

[2019-05-02 18:15] serbasii commented on #68
you mean that container storage?

[2019-05-02 18:23] NyakudyaA commented on #68
@serbasii
I mean storage volumes as specified here https://github.com/kartoza/docker-geoserver/blob/master/docker-compose.yml

[2019-05-02 18:42] patleb commented on #68
It doesn't seem to be a storage volume problem: it works for GeoServer 2.13.0, but not for 2.15.0.

[2019-05-02 19:10] NyakudyaA commented on #68
@patleb I am quite certain that it relates to using a mounted volume. In 2.13.0 there was no variable to add a password on startup so that was added from 2.15.0 upwards .

If I run the following
`docker run -it --name "geoserver"  -e GEOSERVER_ADMIN_PASSWORD='myawesomegeoserver'  kartoza/geoserver:2.15.0` I do not get any error because the data directory is correct.

![data-dir](https://user-image

[2019-05-02 20:49] patleb commented on #68
I suspect that you already had some data in `geoserver-data` outside your container.

The error reported is a path problem. With 2.13.0, the volume is correctly shared, with 2.15.0, it's not.

[2019-05-02 21:43] serbasii commented on #68
i'm running windows docker engine as linux container;

As creating a _volume_ explicitly `docker volume create` works but _binding mounts_ not.  is it due to permission issue?

[2019-05-03 10:18] ellvtr opened #69 "Need old master password in order to change to a new one"
I'm using your geoserver docker image and I can't figure out what the master password is. It appears to be encrypted in file `opt/geoserver/data_dir/security/masterpw/default/passwd`.

In order to change the master password on my installation I need the old one.

Can you help me out?

[2019-05-03 10:19] NyakudyaA commented on #69
@ellvtr have you tried running
`curl -v -u admin:geoserver -XGET   http://localhost:8080/geoserver/rest/security/masterpw.xml`

[2019-05-03 10:23] ellvtr commented on #69
Thanks, I was trying to change it through the UI rather than through the REST API. Either way, I believe the old pw is needed. I assume it is `geoserver` then.

[2019-05-03 10:28] NyakudyaA commented on #69
@ellvtr The snipped above is an example and it will let you know what the password is.
For example
![example](https://user-images.githubusercontent.com/2510900/57132132-e1ad4480-6d9e-11e9-9f20-8b742d840bac.png)

[2019-05-03 10:28] ellvtr commented on #69
Thanks, I managed to change the master pw through the UI yet still can't login using `root:NewMasterPw`. Strange.

Thanks for your help anyway. I guess I could've guessed that it was `geoserver` by default. Didn't occur to me. Sorry for bothering you.

[2019-05-03 10:30] NyakudyaA commented on #69
The master password is used to recover geoserver. Thanks I could help

[2019-05-03 10:30] #69 closed

[2019-05-03 11:37] NyakudyaA commented on #68
@patleb cc @serbasii According to the official docker documentation https://docs.docker.com/v17.09/engine/admin/volumes/bind-mounts/

![mount](https://user-images.githubusercontent.com/2510900/57134943-0ce86180-6da8-11e9-9d89-39968633944f.png)

So, in a nutshell, I encourage you to use docker volumes because within the image we keep the security folder https://github.com/kartoza/docker-geoserver/b

[2019-05-03 12:58] patleb commented on #68
@NyakudyaA, I think there is a bit of misunderstanding here. I was saying that the error message shows that the path doesn't exist. So, if the error doesn't appear in the example you showed us, then the path does exist in your setup. Which implies that  there is only one explanation: considering the paths are the same for 2.13.0 and 2.15.0, me and @serbasii have an empty shared volume when we brin

[2019-05-03 13:00] HueyNemud commented on #68
I have experienced the same situation today.
Currently we can't persist data_dir as a bind-mount as the configuration files created by setup.sh are obscured when the container starts.

@NyakudyaA Would it be possible to delegate the initialization of data_dir to entrypoint.sh? This what the official postgreSQL image does, see https://github.com/docker-library/postgres/blob/master/docker-entrypoint

[2019-05-03 13:12] NyakudyaA commented on #68
@patleb We seem to be on a different footing. So let me explain to you what is happening

* When we create the image we unzip geoserver.war which also contains geoserver data directory.
* Inside the geoserver data directory we copy the folder `security` and put it in `/opt/geoserver_data`.
* Once the image is built the contents of `/opt/geoserver_data` look like the image below
![security](https:/

[2019-05-03 14:56] patleb commented on #68
@NyakudyaA, I don't think that you understand what I'm saying. Quick question, have you been able to reproduce the bug in this issue?

No, unless there is no `/usergroup/default/users.xml`, then it will run [here](https://github.com/kartoza/docker-geoserver/blob/master/scripts/update_passwords.sh#L12).

[2019-05-03 15:02] NyakudyaA commented on #68
@patleb just hang in there I am making a PR shortly with the fix. I have already fixed it on my local machine

![fixes](https://user-images.githubusercontent.com/2510900/57146274-395ea680-6dc5-11e9-8b45-a2041387891b.png)

[2019-05-03 15:02] patleb commented on #68
But, yes, I agree that if you manually bind the volume, then it will work.

[2019-05-03 15:46] #68 closed

[2019-05-03 15:49] NyakudyaA commented on #68
@patleb @HueyNemud @serbasii I have fixed this. Can you build using the develop branch and revert to me so that I can push the changes to the 2.15.0 image

[2019-05-03 16:27] HueyNemud commented on #68
@NyakudyaA  Tried on the development branch with : `docker run -ti -e GEOSERVER_DATA_DIR='/data_dir' -p 8080:8080 -v "/tmp/geoserver_data_dir:/data_dir" kartoza/geoserver:2.15.0`
Works like a charm, thank you!

[2019-05-03 18:33] patleb commented on #68
@NyakudyaA tried also:

[code]

There is still something preventing docker to share the volume. If I find why, I'll report back here. I've add a similar problem for the Postgres container used with an Odoo container and it was working only if I went down one path segment: `/var/lib/postgresql` --> `/var/lib/postgresql/data`. I didn't dig more and just let it go, but what is going on here seems ver

[2019-05-03 19:07] patleb commented on #68
FYI, with named volumes, it works, but for volumes with defined by path, it doesn't. So, basically, I had:

[code]

and from now on:

[code]

is working as expected. So, the problem might be on docker side, but not this repo.

[2019-05-03 21:55] NyakudyaA commented on #68
Can you try to `"./geoserver_data:/opt/geoserver/data_dir"`

@patleb I have the following setup on my side and it's working seamlessly.
![Screenshot 2019-05-03 at 23 52 41](https://user-images.githubusercontent.com/2510900/57167644-c540f480-6dfe-11e9-9589-9e0875ed0ee4.png)

[2019-05-06 06:59] serbasii commented on #68
@NyakudyaA it worked as development branch. May be push the changes to currnent version.

[2019-05-06 08:30] ellvtr commented on #69
Hi again, can you help me with the default pw for Tomcat manager and how to change that?
See screenshot.

![image](https://user-images.githubusercontent.com/12038749/57214322-f0d40280-6fe9-11e9-865b-f5c9c3055faa.png)

[2019-05-06 08:32] ellvtr commented on #69
Hi again, can you help me with the default pw for the tomcat manager and how to change it?

![image](https://user-images.githubusercontent.com/12038749/57214415-3690cb00-6fea-11e9-814c-7cbff68aced8.png)

[2019-05-06 08:33] NyakudyaA commented on #69
@ellvtr Can you take a look at the following https://www.mkyong.com/tomcat/tomcat-default-administrator-password/

[2019-05-06 09:09] ellvtr commented on #69
Thanks @NyakudyaA , I managed to set a user and password for tomcat :)

[2019-05-06 11:27] NyakudyaA commented on #68
@serbasii pushed to the latest tag and 2.15.0 tag

[2019-05-06 13:08] patleb commented on #68
@NyakudyaA

Same behavior. It might be related to the usage a more recent docker-compose (I'm using the latest).

[2019-05-06 15:12] NyakudyaA commented on #68
@patleb I am not sure what is happening on your machine. I can't replicate this using a more recent version of compose.

![Screenshot 2019-05-06 at 17 10 33](https://user-images.githubusercontent.com/2510900/57234859-e6355f80-7021-11e9-8ea4-c473f2c25495.png)

![Screenshot 2019-05-06 at 17 05 11](https://user-images.githubusercontent.com/2510900/57234941-14b33a80-7022-11e9-9bef-f97c6ca23a80.png)

[2019-05-06 19:30] patleb commented on #68
Not sure either what's happening. I'll stick to named volumes. Thanks anyway, I really appreciate your help.

[2019-05-09 09:56] citizenfish opened #74 "setup.sh run every rebuild - requires internet access"
setup.sh is run on every rebuild and requires internet access. This is not always desired if making a secure install of Geoserver behind a firewall. When internet access is not available geoserver will not start

[2019-05-09 10:03] NyakudyaA commented on #74
@citizenfish You could download all the binaries using the setup.sh scripts and put them into the resources folder and when you run it it will use the local files instead of downloading them

[2019-06-06 15:58] matthesrieke commented on #61
are there any news on this? I am still observing this in the `2.15.0` and `latest` (from May 6, 2019) tag.

[2019-06-06 16:11] NyakudyaA commented on #61
@matthesrieke this is working in the 2.15.0 branch. Please use the docker-compose in the repo and the env variables. You will get the desired effect

[2019-06-07 17:47] micahl98 commented on #18
Rumski20; We are using this container for geoserver and also need to run it with SSL... can you help guide us in how you configured this? I found the proxy base URL, but am unsure what to do with it. Also we prefer using letsencrypt..... do we set this up outside the container on the host? Thanks!

[2019-06-07 17:49] micahl98 opened #75 "configuring ssl with letsencrypt"
Need some guidance on how to setup SSL with this container; I'm familiar with configuring SSL, but not as it relates to Docker. Thanks!

[2019-06-14 08:52] gubuntu opened #76 "Log file not accessible through web UI"
using the latest image from docker hub

`Could not find the GeoServer log file: /opt/geoserver/data_dir/logs/geoserver.log`

[2019-06-23 06:31] NyakudyaA commented on #75
@micahl98 Do you use rancher in deployments. If so you can take a look at https://github.com/janeczku/rancher-letsencrypt or https://www.digitalocean.com/community/tutorials/how-to-secure-your-rancher-web-app-with-let-s-encrypt-on-ubuntu-16-04

[2019-07-10 15:55] NyakudyaA opened #77 "Oracle JDK changed it's licence"
# Problem

Oracle changed it's licence a couple of months back and ever since our builds are partially working because of this restrictions. The setup scripts download a bunch of these.

![Screenshot 2019-07-10 at 17 52 39](https://user-images.githubusercontent.com/2510900/60984178-8b7af580-a33b-11e9-9095-3540854b8e17.png)

# Solution

* Please investigate a feasible solution.
* We could fetch the

[2019-07-11 06:54] gubuntu commented on #77
what are the GeoServer / GeoSolutions people doing about it?

what do we need to do to comply without having to pay anything? Try to implement that...

If all else fails, switch to OpenJDK.

[2019-07-11 11:26] jmjurado23 commented on #60
Hello, I have the same issue with CORS in geoserver tomcat deploy. I have not managed to enable cors to use platform for DEV purposes.

[2019-07-15 08:43] 1Jesper1 opened #78 "Change default password in changelog"
Default password is "myawesomegeoserver" and not "geoserver"? https://github.com/kartoza/docker-geoserver#changing-geoserver-password-on-runtime

[2019-07-15 08:49] NyakudyaA commented on #78
Hi @1Jesper1 the default password is `geoserver` not `myawesomegeoserver`. Read carefully the statement
[code]
This basically means if you do not use the env variable `GEOSERVER_ADMIN_PASSWORD` you will log in to geoserver using `admin:geoserver`

[2019-07-15 08:53] 1Jesper1 commented on #78
Ah I understand @NyakudyaA I used `docker-compose`, docker-compose uses https://github.com/kartoza/docker-geoserver/blob/aebe1652d7728a0394667f6fa3307cd4e36eb251/docker-compose.yml https://github.com/kartoza/docker-geoserver/blob/aebe1652d7728a0394667f6fa3307cd4e36eb251/docker-env/geoserver.env which sets the password to `myawesomegeoserver`

[2019-07-15 08:55] NyakudyaA commented on #78
In that case yes the default password would be `myawesomegeoserver`. I will look at it at reword the README

[2019-07-23 16:40] strech345 opened #79 "Missing PostGis Datasource Entry"
if i deploy this geoserver to our kubernetes cluster the postgres Entry on Datasource is missing. But the extension is included.
![image](https://user-images.githubusercontent.com/7572377/61730212-3696a080-ad79-11e9-8215-4cf484a1456a.png)

If i run the docker build locally it is still there.

Does someone know why this happens?

[2019-07-24 11:01] NyakudyaA commented on #79
Hi, @strech345 I haven't tried this image with kubernetes. Have you tried to publish a postgis data store using the REST API to see if you wil be succeed https://docs.geoserver.org/latest/en/user/rest/stores.html. What does the logs say when you start up the container?

[2019-07-24 13:07] strech345 commented on #79
Hi @NyakudyaA
where i find the logs? because i get

`Could not find the GeoServer log file: /opt/geoserver/data_dir/logs/geoserver.log`

[2019-07-24 15:10] strech345 commented on #79
I could add it by rest api withour error.
`We are completely uploaded and fine`
 But on the frontend it doesn't recorgnice the postgis type

![image](https://user-images.githubusercontent.com/7572377/61804755-c5b4be80-ae34-11e9-8cff-549f2f2a14bf.png)

[2019-07-24 16:20] NyakudyaA commented on #79
Navigate to the `Global section` in the GUI and select Verbose logging
![global](https://user-images.githubusercontent.com/2510900/61810495-aa9b7c00-ae3f-11e9-8fd9-3d63a64517c3.png)

Paste what the logs are saying here

[2019-07-24 16:21] NyakudyaA commented on #79
Are you using the 2.13.0 image, Try the 2.15.0 image and see if there is a difference. What OS are you running from

[2019-07-25 12:14] NyakudyaA commented on #54
This is working properly. Please check the kartoza/geoserver:2.15.2 I have pushed to docker hub with CORS enables all built using overlays

[2019-07-25 12:14] #54 closed

[2019-07-26 11:45] #78 closed

[2019-07-26 11:45] #76 closed

[2019-07-26 11:48] NyakudyaA commented on #77
The only thing that needs to be downloaded from Oracle Java is `jdk-8u201-linux-x64.tar.gz` or the latest version for people who need to build with oracle java. I have added this in the Readme

[2019-07-26 11:48] #77 closed

[2019-07-26 11:50] NyakudyaA commented on #60
Hi @jmjurado23 can you pull the image 2.15.2 I built it with CORS using the file system overlays
![format](https://user-images.githubusercontent.com/2510900/61949797-45b16480-afac-11e9-8751-aefb6b2d68f4.png)

cc @jorgejesus

[2019-07-26 11:50] #60 closed

[2019-07-27 08:05] NyakudyaA commented on #75
@micahl98 can you try to build geoserver using this image https://github.com/AtomGraph/letsencrypt-tomcat ie
docker build --build-arg IMAGE_VERSION=8-jre8 --build-arg GS_VERSION=2.13.0 -t kartoza/geoserver:2.13.0 .

[2019-07-27 08:05] #75 closed

[2019-07-27 08:07] #74 closed

[2019-07-27 08:09] NyakudyaA commented on #59
@uamoreno please open if this issue still exists

[2019-07-27 08:09] #59 closed

[2019-07-28 02:06] icemagno commented on #79
Same problem. Docker at Virtualbox running `latest` image. The `2.15.0` tag is ok.

https://gis.stackexchange.com/questions/330268/no-postgis-storage-in-geoserver

[2019-07-28 06:27] NyakudyaA commented on #79
@icemagno I will investigate this , it sounds strange though because the images should be identical

[2019-07-28 12:48] NyakudyaA opened #82 "Cleanup branches"
# Problem

We have many branches in this repo. I think we should delete some of the old branches and remain with a few ie
* 2.12
* 2.13
* 2.15
* develop
* master

The rest should be deleted.

cc @gubuntu @timlinux

[2019-07-28 13:35] NyakudyaA commented on #79
@strech345 @icemagno I have updated the latest to 2.15.2, Can you please test it and revert
![Screenshot 2019-07-28 at 15 34 48](https://user-images.githubusercontent.com/2510900/62007403-48978b00-b14d-11e9-9377-60b098adda63.png)

[2019-07-28 14:29] strech345 commented on #79
@NyakudyaA
Thanks,
i found out that your image always works. The strange behavier only receives if i build the image.
Yes i will test it . Maybe it will takes some time.

[2019-07-28 16:19] icemagno commented on #79
Will do it ASAP.

[2019-07-30 14:35] erichiller commented on #76
Was this fixed in a recent pr?

[2019-07-30 14:52] NyakudyaA commented on #76
@erichiller check the develop branch

[2019-08-01 09:54] strech345 commented on #79
i check now the logs. and this problem now also happens by using the image
[code]

[2019-08-01 10:00] NyakudyaA commented on #79
@strech345 last time you mentioned the problem occurred when you build the image. What build arguments were you using?
In the VM you are using what version of docker, ubuntu are you using ?.
Does it still work with the 2.15.0 image?

The main difference between the 2.15.0 and 2.15.2 is that the latter is built with overlayers to enable CORS

[2019-08-01 11:29] strech345 commented on #79
@NyakudyaA
Thanks for your fast responce. Yes. 2.15.0 works :-)
I get the same error before but this might be a other problem.
So it will be a problem with cors? i don't know that for postgis it is nesseccary to enable cors.

[2019-08-01 11:33] NyakudyaA commented on #79
Can you try to build the 2.15.2 image without CORS and see if the error exists? Just use the build script in the repo and rever back. CORS should not be affecting this. It's quite strange that I am running ubuntu 19:04 and Mac Mojave and do not experience any issues.  I will look in detail with my logs and compare what happens

[2019-08-01 15:32] strech345 commented on #79
i try now to run the build 2.15.0 and now also postgis is missing.
The only error on build is the missing module: `https://build.geoserver.org/geoserver/2.15.x/community-latest/geoserver-2.15-SNAPSHOT-geogig-plugin.zip`

how to disable cors?
will be back on monday. have a nice weekend ;-)

[2019-08-01 16:32] strech345 commented on #79
it is kubernetes aws eks: latest
docker version i dont know

[2019-08-06 07:20] strech345 commented on #79
i now test 2.15.0 again. I delete before the content from the volume and take this image from dockerhub.
I coudnt ever get it to run. I find this error
`cp: cannot stat '/opt/geoserver/data_dir/security/usergroup/default/users.xml': No such file or directory
/scripts/update_passwords.sh: line 25: /opt/geoserver/data_dir/security/usergroup/default/users.xml: No such file or directory
cat: /opt/geos

[2019-08-06 07:45] strech345 commented on #79
ok also 2.15.2 doesnt show postgis

[2019-08-06 16:06] NyakudyaA commented on #79
Here is what I am doing on my machine
![Screenshot 2019-08-06 at 17 48 27](https://user-images.githubusercontent.com/2510900/62554989-6b731f00-b872-11e9-9d21-1b9db693b80a.png)

![Screenshot 2019-08-06 at 18 03 26](https://user-images.githubusercontent.com/2510900/62556125-8a72b080-b874-11e9-91cf-21b091d00e19.png)

![Screenshot 2019-08-06 at 18 05 38](https://user-images.githubusercontent.com/25109

[2019-08-06 22:25] josephmsms commented on #79
I ran into this same issue building the image locally. For some reason the postgis .jar is coming in twice.

`/usr/local/tomcat/webapps/geoserver/WEB-INF/lib/gt-jdbc-postgis-21.2.jar`
`/usr/local/tomcat/webapps/geoserver/WEB-INF/lib/gt-jdbc-postgis-21-SNAPSHOT.jar`

For a quick fix I just added this at the end of my Dockerfile before the CMD:

`RUN rm /usr/local/tomcat/webapps/geoserver/WEB-INF/li

[2019-08-07 12:28] NyakudyaA commented on #79
@josephmsms thanks for reporting this, I have looked at this and realised that this is mainly caused by the community modules added in the repo. Since these plugins still in development they might be causing the issue. Can you try to build the image using the following option

`docker build --build-arg COMMUNITY_MODULES=false  --build-arg GS_VERSION=2.15.2 -t kartoza/geoserver:2.15.2 .`

I will do

[2019-08-07 16:06] josephmsms commented on #79
@NyakudyaA  I went ahead and rebuilt with 'COMMUNITY_MODULES=false' Works as expected with PostGIS enabled by default.

[2019-08-07 17:40] NyakudyaA commented on #79
Thanks a lot. I have also merged the changes upstream and the latest image should correspond to the 2.15.2 image. You can close the issue after testing. We need to file an bug report on geoserver notifying them of this bug caused by the backup and restore extension

[2019-08-18 04:20] #79 closed

[2019-08-22 13:45] j08lue commented on #82
Tags for the different versions of GeoServer might be nice. 😄

[2019-08-26 12:05] icemagno opened #86 "Proxy"
How can I set the Tomcat / Java proxy?

[2019-08-26 12:13] NyakudyaA commented on #86
Hi @icemagno What do you need to achieve ?.
Have you looked at https://docs.geoserver.org/stable/en/user/security/tutorials/httpheaderproxy/index.html or https://docs.geoserver.org/latest/en/user/production/misc.html#proxy-your-server .
Alternatively have a quick look at stack exchange

[2019-08-26 13:58] icemagno commented on #86
I need to create a WMS store from another geoserver outside my corporation. My proxy have user/password authentication to go outside.

Already tried all possible `http_proxy` configurations in ENV (building phase) or `-e JAVA_OPTS` and `-e GEOSERVER_OPTS` (runing phase).

[2019-08-26 14:00] icemagno commented on #86
I always receive a 407 error.

[2019-08-29 09:00] j08lue opened #87 "How to build with CORS support?"
@NyakudyaA in #24 and #60, you mentioned that your 2.15.2 image includes CORS support. But how is that image built (in case I wanted to build a slightly modified version)? Surely not just plain with `build.sh`? Do you just need to include the `web.xml` in the `resources/overlays` folder when building?

[2019-08-29 09:07] NyakudyaA commented on #87
@j08lue you just need to add web.xml into the resources folder as specified below
![61949797-45b16480-afac-11e9-8751-aefb6b2d68f4](https://user-images.githubusercontent.com/2510900/63926992-1f6c6200-ca4d-11e9-87c3-724bd150e44d.png)

[2019-08-29 10:31] j08lue commented on #87
That simple, thanks. Maybe you could include these instructions in your README? Just a suggestion...

[2019-08-29 10:48] NyakudyaA commented on #87
I will when I get a chance

[2019-09-03 09:03] fegyi001 opened #88 "Missing PostGIS store?"
I installed the kartoza/geoserver:2.15.2 version, and really like how many vector and raster data sources are available out of the box when I try to create a new Store.

One extremely important seems to be missing though: PostGIS. This should be included in any GeoServer by default, how can it be, that I cannot see it, and therefore cannot add a PostGIS Store to my GeoServer?

Or did I do somethin

[2019-09-03 09:36] NyakudyaA commented on #88
Hi @fegyi001 I have pulled the docker image and ran the following
![logs-geos](https://user-images.githubusercontent.com/2510900/64161705-5b813780-ce3e-11e9-955b-dce47662e929.png)

And opening up Geoserver I could see the following
![postgis](https://user-images.githubusercontent.com/2510900/64161742-6cca4400-ce3e-11e9-98b8-b7fd1e82971d.png)

To check if I am not running a local image I did the fo

[2019-09-03 10:56] NyakudyaA commented on #88
@fegyi001 Also please pull the latest 2.15.2 image first

[2019-09-03 12:02] fegyi001 commented on #88
Ok, I really needed to pull 2.15.2 again, and after that, after a build, now I can see the PostGIS type. But now all the other store types are missing, only the default ones are visible. Is it a desired feature?

[2019-09-03 12:23] NyakudyaA commented on #88
@fegyi001 I will see what is happening with the gdal store maybe the gdal-plugin is not being imported properly

[2019-09-06 13:05] NyakudyaA commented on #88
@fegyi001 please pull the latest image.
![image](https://user-images.githubusercontent.com/2510900/64430070-c2f5ec00-d0b7-11e9-9e25-cb8c0fe89faa.png)

[2019-09-06 13:05] #88 closed

[2019-09-06 13:15] NyakudyaA commented on #87
Fixed in develop, will be porting to master

[2019-09-06 13:15] #87 closed

[2019-09-09 19:17] Wieschie opened #92 "Enabling the Marlin rasterizer"
The official Geoserver documentation recommends enabling the Marlin rasterizer for better performance rendering from vector sources.

It seems like this is a fairly simple change - just downloading the .jar file at build time and setting the appropriate values in GEOSERVER_OPTS.

https://docs.geoserver.org/stable/en/user/production/container.html
https://github.com/bourgesl/marlin-renderer

[2019-09-09 19:21] Wieschie opened #93 "Moving GEOSERVER_OPTS from build time to run time"
Is there a reason GEOSERVER_OPTS is fully baked into the image?

It'd be nice to just be able to set INITIAL_MEMORY and MAXIMUM_MEMORY at runtime by passing in the environment variables.  Couldn't we just move the `-Xms` and `-Xmx` additions [here](https://github.com/kartoza/docker-geoserver/blob/11ad33d549e1e61f836da6d15c013405708de176/Dockerfile#L51) to [entrypoint.sh](https://github.com/kartoza

[2019-09-09 19:48] SamyOteroGlez opened #94 "Geoserver 2.17.x"
Any support for it? They included SAMLv2 for authentication.

Regards,

[2019-09-09 19:54] NyakudyaA commented on #93
@Wieschie environment variables are meant to be used at run time. If you look carefully at the code the  `GEOSERVER_OPTS` are initialized from entrypoint https://github.com/kartoza/docker-geoserver/blob/master/scripts/entrypoint.sh#L7

[2019-09-09 19:56] NyakudyaA commented on #92
@Wieschie If you have time you can do a PR with your changes and we can test and merge it. Otherwise, you could wait until we find time from our busy schedule.

[2019-09-09 19:58] NyakudyaA commented on #94
@SamyOteroGlez we tend to support bulding stable releases but it should not be difficult for you to build the .x releases as you would need to add an extra variable for downloading geoserver war as specified here https://github.com/kartoza/docker-geoserver/blob/master/scripts/setup.sh#L148

[2019-09-09 20:08] Wieschie commented on #93
Right, but the Dockerfile interpolates the INITIAL_MEMORY and MAXIMUM_MEMORY into GEOSERVER_OPTS at build time.  So the values the entrypoint gets just contains whatever memory values existed when the image was built.

To override them currently, you'd need to entirely redeclare GEOSERVER_OPTS or run a find/replace on it to set the correct values.

What I propose would be to only add the memory ar

[2019-09-09 20:08] Wieschie commented on #92
Gladly! I just wanted to check if this change would be welcome before I started on it.

[2019-09-09 20:15] NyakudyaA commented on #93
@Wieschie thanks for picking this up. what would happen if we entirely move the whole `GEOSERVER_OPTS` declaration to entrypoint because that is where it is being used

[2019-09-09 20:20] Wieschie commented on #93
@NyakudyaA I think either way would allow you to set the values when you create a container.

[2019-09-09 20:27] NyakudyaA commented on #93
I would give a thumbs up on moving the geoserver_opt declaration to entrypoint script because in case we find something to parameterize we won’t have to change in multiple places

[2019-09-09 20:29] Wieschie commented on #93
Should I make a pull request against the develop branch or against master?

[2019-09-10 13:21] MaxiReglisse opened #96 "Storing data on the host fails with geoserver-2.15.0"
Storing data on the host fails with geoserver:2.15.0, i do not know why...

    $ docker run -d -v $HOME/geoserver_data:/opt/geoserver/data_dir kartoza/geoserver:2.15.0
    643d6fcbab0ccb323f80125a8ac9cfbf32dfeb7112fe0a343f1c16ebd67a9da5

    $ docker ps -a
    CONTAINER ID        IMAGE                      COMMAND                  CREATED             STATUS                      PORTS

[2019-09-10 15:52] SamyOteroGlez commented on #94
Thanks!!!!

[2019-09-10 17:55] NyakudyaA commented on #96
Hi, @MaxiReglisse I guess there is something in the 2.15.0 image that is broken. I will merge master to 2.15.0 and rebuild the image after testing

[2019-09-10 18:07] #93 closed

[2019-09-11 15:07] NyakudyaA commented on #96
@MaxiReglisse Can you please pull the latest 2.15.0 and test

[2019-09-12 10:01] lderzhavets opened #99 "Exception on starting"
Getting this exception in latest version
Digest:sha256:df010edd6d24fff012fd10254036d94057c5e9357f379c86f84215c504568062

[code]

In the previous version (2.15.2) everything is OK

[2019-09-13 07:46] MaxiReglisse commented on #96
![image](https://user-images.githubusercontent.com/11272821/64845576-d8fd3280-d60a-11e9-8e39-1bdaf1aec738.png)
it's good for me too, thank you very much.

[2019-09-13 08:06] NyakudyaA commented on #99
@lderzhavets I cannot replicate what you are getting
![pull](https://user-images.githubusercontent.com/2510900/64846924-14e5c700-d60e-11e9-83e1-cf50daeb0409.png)

![run](https://user-images.githubusercontent.com/2510900/64846933-1adba800-d60e-11e9-8d1c-1085e32c3df2.png)

Please pull the latest image first

[2019-09-13 08:24] lderzhavets commented on #99
@NyakudyaA hmmm, I changed the port as yours 8082:8080 and it was OK, then I revert it to 8080:8080 and everuthing is OK again. Very strange, but ok, I think we can close the issue

[2019-09-13 12:50] #99 closed

[2019-09-14 16:24] lukaszswitaj commented on #87
There is no example in any of the branches, master nor develop.

[2019-09-14 20:00] NyakudyaA commented on #87
Please read carefully on the readme
![Screenshot 2019-09-14 at 21 59 13](https://user-images.githubusercontent.com/2510900/64913150-0fd26600-d73b-11e9-9e39-ccd1ccd2fc1c.png)

[2019-10-01 10:08] zhangyuwu123 opened #103 "unsupport chinese"
中文乱码

[2019-10-09 16:44] EHJ-52n commented on #86
@icemagno Isn't it a general geoserver question?

[2019-10-09 16:44] EHJ-52n commented on #82
:+1:

[2019-10-10 11:00] icemagno commented on #86
Yeah.  Already open a ticket there. Thanks.

[2019-10-10 11:01] NyakudyaA commented on #86
@icemagno thanks for this. I will close this since it's not docker specific

[2019-10-10 11:01] #86 closed

[2019-10-10 11:01] NyakudyaA commented on #103
@zhangyuwu123 Can you please describe your issue or feature request

[2019-10-11 09:54] EHJ-52n commented on #86
@icemagno Could you please add a link to your issue, please.

[2019-10-11 10:06] icemagno commented on #86
Go to Geoserver JIRA and search for GEOS-9313 ( Configuration of Proxy via GUI )

[2019-10-11 10:09] icemagno commented on #86
This can help you too to understand the problem: https://gis.stackexchange.com/questions/191959/how-to-configure-geoserver-to-use-a-proxy-when-accessing-external-services

[2019-10-11 11:35] EHJ-52n commented on #86
https://osgeo-org.atlassian.net/projects/GEOS/issues/GEOS-9313

[2019-10-14 12:39] prebm commented on #99
This issue is occurring also when running version 2.15.0 from docker-compose. I am not sure what is causing it and it is not reproducible all the time. For example it didn't happen to me when using only:

[code]

Most of the time it happened to me when running with the files from this repo and explicitly specifying the geoserver.env.

[code]

[2019-10-14 12:42] NyakudyaA commented on #99
Hi @prebm Can you try explicitly specifying the environment variables and see if the error exists

[2019-10-14 13:08] prebm commented on #99
@NyakudyaA when explicitly specifying the variables in the docker-compose.yml everything seems to be working. When applying the following changes the error seems to happen:

[code]

Is there a minimum memory limit? Using the same configuration for latest is working.

[code]

[2019-10-14 13:17] NyakudyaA commented on #99
I will test with this setting. Have always let it run with the default settings

The 2.15.2 image does not contain these confirguration. The 2.15.0 image should work as is. I doubt there is a minimum confirguration. Please read this https://docs.geoserver.org/stable/en/user/production/container.html#optimize-your-jvm

So if you run this with the env file that has values that are changed it won't w

[2019-10-14 13:22] prebm commented on #99
@NyakudyaA yes exactly, this configuration of docker-compose.yml with the specified environment variables is producing the error for me.

[2019-10-20 18:58] lemonprogis opened #105 "sslmode setting"
I am curious on how to enable sslmode for my postgis datastore connections. Thanks!

[2019-10-20 19:41] NyakudyaA commented on #105
I am sure you have seen the following
http://osgeo-org.1560.x6.nabble.com/PostGIS-datastore-through-SSL-td5348145.html

[2019-10-21 01:04] lemonprogis commented on #105
Yes I have. I wouldn't mind to contribute to the project to get it added. Unless it has already been done.

[2019-10-21 03:47] lemonprogis commented on #105
@NyakudyaA, consider this closed. I see that 2.16 has this already. when can we cut 2.16.0 for this docker image? Thanks for the info too!

[2019-10-21 03:47] #105 closed

[2019-10-21 06:38] NyakudyaA commented on #105
@lemonprogis I need to test the 2.16.0 image first before pushing to dockerhub. I will take a look at it today

[2019-10-21 07:02] lemonprogis commented on #105
@NyakudyaA thank you!

[2019-10-26 03:49] lemonprogis commented on #105
@NyakudyaA any chance that 2.16.0 would be available soon? I can help if needed.

[2019-10-26 06:25] NyakudyaA commented on #105
@lemonprogis the latest should align with 2.16.0 for now. Can you please test if all the gdal plugin is working alright because of the gdal version issue
![libs](https://user-images.githubusercontent.com/2510900/67615246-3075ed00-f7ca-11e9-810d-8784f17e4499.png)

[2019-10-28 11:03] lemonprogis commented on #105
@NyakudyaA I pulled down and build the images. when i run it behind nginx (which is my preferred
 method) I am getting a 400 error when POSTing creating a workspace. Did headers change with 2.16.0? If i need to direct that to geoserver, let me know as well.

[2019-10-28 11:12] NyakudyaA commented on #105
Hi @lemonprogis When you run it without Nginx are you able to create a workspace. I have a funny feeling this is caused by running the container as none root user i.e `geoserver` which I am going to revert. Are the logs showing anything amiss ?.

[2019-10-28 11:31] lemonprogis commented on #105
Let me gather some of that information. Here is my proxy configuration from nginx.

`# geoserver
   location /geoserver/ {
     proxy_pass http://geoserver:8080/geoserver/;
     proxy_redirect off;
     proxy_buffering off;
     proxy_pass_header Set-Cookie;
     proxy_set_header Host $http_host;
     proxy_set_header X-Real-IP $remote_addr;
     proxy_set_header X-Forwarded-Proto $scheme;
     pr

[2019-10-28 11:34] lemonprogis commented on #105
When i fire up the container, i am having trouble writing out my data_dir due to permissions. Should I add a user to my host system?

[2019-10-28 11:38] NyakudyaA commented on #105
@lemonprogis Let me revert that PR that introduced the geoserver user. I have all of a sudden started to experience errors as well
![access](https://user-images.githubusercontent.com/2510900/67675507-ecc8e200-f987-11e9-95bd-97745a0f3367.png)

![data-dir](https://user-images.githubusercontent.com/2510900/67675598-30bbe700-f988-11e9-8d56-bc2d50029e0a.png)

Just curious When you run geoserver through

[2019-10-28 11:42] lemonprogis commented on #105
Yep, i am experiencing the same result as your seeing. As far as timeouts, I have it set in the global nginx.conf, i may experiment with the settings per server instance.

[2019-10-28 11:52] NyakudyaA commented on #105
@lemonprogis can you try to build the image using the develop branch. The reason why I haven't pushed the 2.16.0 is that the gdal plugin is not working properly

[2019-10-29 14:54] NyakudyaA commented on #105
@lemonprogis I will test this locally and give you hints

[2019-10-29 19:45] lemonprogis commented on #105
Ok, thank you!

For reference,
http://osgeo-org.1560.x6.nabble.com/JIRA-GEOS-9353-Geoserver-2-15-3-2-16-0-wicket-tabs-give-status-400-Bad-Request-Origin-does-not-corret-td5417892.html

On Tue, Oct 29, 2019 at 9:54 AM mazano <notifications@github.com> wrote:

--
Sincerely,

Edward Briggler
(501)336-5531
edward.briggler@gmail.com

<http://www.facebook.com/edwardbriggler>
<http://www.gplus.to/edwardb

[2019-11-03 00:30] lemonprogis commented on #105
@NyakudyaA I fixed it by adding the following to the geoserver.env properties. I set
GEOSERVER_CSRF_WHITELIST property here and I quit getting the 400 error on the origin.

Reference: https://docs.geoserver.org/stable/en/user/security/webadmin/csrf.html

[2019-11-03 04:31] NyakudyaA commented on #105
Thanks for investigating this. Can you do a PR for this.

[2019-11-03 16:11] lemonprogis commented on #105
sure thing, i'll get one staged.

[2019-11-04 03:12] lemonprogis commented on #105
@NyakudyaA
created a PR to merge into develop.

https://github.com/kartoza/docker-geoserver/pull/111

[2019-11-26 13:51] SamyOteroGlez opened #114 "Latest version of the docker image is throwing 404 error"
My geoserver container is throwing a 404 if using the latest version (pull made on Friday 22 Nov)
I had to fix the version to 2.15.2 in order to make it work again.
`image: kartoza/geoserver:latest` not working
`image: kartoza/geoserver:2.15.2`

Regards,
Sam

[2019-11-27 12:47] NyakudyaA commented on #114
@SamyOteroGlez Please try again. I built a new one yesterday

[2019-11-27 12:48] NyakudyaA commented on #103
I am closing this due to lack of activity

[2019-11-27 12:48] #103 closed

[2019-11-27 14:02] ecstaticrainbow commented on #114
The latest version still does not work, 2.15.2 is the last version that does not 404

[2019-11-27 14:10] FanaticFiz commented on #114
geoserver startup failed with:
[code]

[2019-11-27 14:14] NyakudyaA commented on #114
Hey, guys, it looks good on my side here Ubuntu:18.04 with Docker version 18.09.7, build 2d0083d
![logs-geoserver](https://user-images.githubusercontent.com/2510900/69730497-dbaef480-1130-11ea-921c-23f7948acd1a.png)

![geoserver-running](https://user-images.githubusercontent.com/2510900/69730517-e5d0f300-1130-11ea-8655-8592966acb72.png)

![logs-server](https://user-images.githubusercontent.com/251

[2019-11-27 14:16] NyakudyaA commented on #114
I have just pulled and it works on my side. How are you starting up geoserver?

[2019-11-27 14:17] ecstaticrainbow commented on #114
I ran the 2 commands listed in the documentation

[code]

[2019-11-27 14:20] NyakudyaA commented on #114
Try using a new postgis image ie
`docker run --name "postgis" -d -t kartoza/postgis:12.0`

It just maybe caused by that or try to run geoserver standalone without any parameters like
`docker run --name "geoserver"   -p 8080:8080 -d -t kartoza/geoserver`

[2019-11-27 14:24] ecstaticrainbow commented on #114
Running geoserver standalone still gives me the 404 page when navigating to: http://localhost:8080/geoserver

Im running the latest version of docker using docker desktop on windows (linux containers)

[2019-11-27 14:24] ekbarber commented on #114
Just want to add I'm experiencing the same issue on a Windows 10 host. 2.15.2 works fine, 2.16.0 causes a 404 when going to localhost:8080/geoserver. But localhost:8080 brings up the tomcat manager just fine.

[2019-11-27 15:05] NyakudyaA commented on #114
Unfortunately, I do not have a windows machine to test. l can only test on mac. I hope this is not a windows specific issue.
 Can you clone the repo and build the image yourself and specify a different base image

[code]
I  think the main things that changed between 2.15.0 and 2.16.0 is the base image I am using
for the latest builds which is `9.0.7-jre8`

[2019-11-27 15:07] FanaticFiz commented on #114
Which version of `jackson-databind` you have in `/usr/local/tomcat/webapps/geoserver/WEB-INF/lib`

[2019-11-27 15:13] NyakudyaA commented on #114
![jackson](https://user-images.githubusercontent.com/2510900/69735206-043aec80-1139-11ea-8438-ba77a7c75571.png)

[2019-11-27 15:17] FanaticFiz commented on #114
I replace it for version jackson-databind-2.9.10.jar
Then restart catalina and geoserver started successfully

[2019-11-27 15:55] NyakudyaA commented on #114
Thanks for the investigation.  I am suprised that the container was and is still working for on ubuntu.

However, I think what introduces these different versions of jackson are the community modules which I was installing ie s3.

I have fixed this in this PR https://github.com/kartoza/docker-geoserver/pull/116

[2019-11-27 16:01] NyakudyaA commented on #114
Busy building a new image. glad if you could test this after a while

[2019-11-27 16:15] ecstaticrainbow commented on #114
Happy to test if for you, let me know when the latest image is on dockerhub ♥

[2019-11-27 16:30] NyakudyaA commented on #114
Thanks, it's ready for testing

[2019-11-28 07:01] FanaticFiz commented on #114
Yes, its works now.

[2019-11-28 07:03] #114 closed

[2019-12-02 10:20] vjanssens opened #118 "Release 2.16 on docker hub"
Geoserver 2.16 has been committed in ([afb2b8d](https://github.com/kartoza/docker-geoserver/commit/afb2b8db78b1717e05ff0d9ef19688a15f5101d9)), but is not yet available on docker hub. Can you make a release so we can download the latest version from docker hub?
I see `latest` points to 2.16, but I'd like to stick to a specific version.

[2019-12-05 17:48] SamyOteroGlez opened #119 "REST Api"
Hello,

I am using GeoServer version 2.15 and I am having issues with the endpoints, some of them work some doesn't.

When I hit the endpoint to create a new user `(http://localhost:8093/geoserver/rest/security/usergroup/users)`, I get this error in the browser:
`Handler dispatch failed; nested exception is java.lang.NoClassDefFoundError: org/codehaus/stax2/ri/Stax2WriterAdapter`

Are there any mi

[2019-12-16 07:58] kyygit opened #120 "How to clone the docker with an existing data?"
First, really appreciate this masterpiece. I am able to up a geoserver in less than 5 minutes (compared to few hours if i didn't use docker)

Now, I am able to use **docker volume** to create a store inside the geoserver, with the data files from my host. It works brilliant.

Next, I have a question. Assuming I have created a store (eg: a vector data shapefile is added), how do I share/clone this

[2019-12-16 08:03] yong2khoo-lm opened #121 "How to add ECW file format support?"
How to change the Dockerfile to allow the support for ECW raster file format?

[2019-12-16 08:06] NyakudyaA commented on #121
Hi @kyygit I am working on it.  If you use pre 2.16 images they natively support gdal formats. with 2.16 they changed the formats and I am trying to find out how to install gdal 2.4 into the container which is required without compiling it

[2019-12-16 08:15] NyakudyaA commented on #120
If you are using docker volume you have two ways to get your friend on the same wavelength with you.

* run docker inspect your container and see where your volume is mounted from.
ie docker inspect geoserver |grep volume
You can then copy the folder and share it with your friend
* Alternatively log in to the running container and copy the geoserver data directory and share the folder with your fr

[2019-12-16 08:27] kyygit commented on #121
Great! Thanks for your fast response~

[2019-12-17 05:34] kyygit commented on #120
Thanks for your answer.
I just realize, by copying the entire "/opt/geoserver/data_dir", it literally 'copy' everything :)

By the way, when you mention "... have all your data in a DB", do you mean postgis?

[2019-12-23 10:33] #120 closed

[2019-12-23 10:36] kyygit opened #122 "Azure Docker container instance compatibility"
Hi, I have just tested to host this on the Azure Docker container instance.
However, it seems that it is not working (unable to reach the site)... Anything that i missed out?

*Note, everything works perfectly in my Windows 10 Pro.

[2019-12-23 10:55] NyakudyaA commented on #122
Hi I have no access to any azure server to test. It would be nice to show the logs and I can look at them

[2019-12-23 10:56] NyakudyaA commented on #120
Yes PostGIS or any other DB you are familiar with etc MySQL

[2019-12-24 09:33] Nkmol commented on #118
Note that you can use [build args](https://docs.docker.com/compose/compose-file/#build) to install your own GeoServer version and overwrite the [`ARGS GS_VERSION`](https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L10) with your own value.

A _docker-compose.yml_ example that worked for me:

[code]

[2020-01-08 08:56] xiyany opened #123 "Memory leak"
Where can I set memory leaks，like https://docs.geoserver.org/stable/en/user/production/container.html#optimize-your-jvm

[2020-01-08 09:18] NyakudyaA commented on #123
You can use  the environment variables at startup

* INITIAL_MEMORY
* MAXIMUM_MEMORY
Please look in the README where it mentions Tomcat properties:

[2020-01-08 09:20] xiyany commented on #123
Thank you for your prompt reply

[2020-01-15 05:46] ErinKenna opened #124 "docker-compose geoserver unhealthy"
https://github.com/kartoza/docker-geoserver/blob/fb1ccdf1bae5f7e74e0b346808b6b997ceeef178/docker-compose.yml#L34

(I'm currently running several commits behind @ https://github.com/kartoza/docker-geoserver/commit/dc583dec27a6efc0f52de383c3344ab9f5f27fbb )

When I use a docker-compose instance the geoserver container seems to be persistently `unhealthy` when I look at the status from `docker ps`.

[2020-01-16 13:59] medis87 opened #125 "GDAL VRT files"
Hi,

I need to publish GDAL VRT files, but it is not in the stores list. I saw the ImageI/O-Ext GDAL Coverage Extension version is:

Module Name: ImageI/O-Ext GDAL Coverage Extension
Module ID: gs-gdal
Version: 1.3.2
Component: GridCoverage2DReader
Message:
JNI GDAL Wrapper Version: 2.2.0
GDAL Version: 1.9.2
GDAL Release Date: 20121008
GDAL Build Info: GDAL 1.9.2, released 2012/10/08

Could it be

[2020-01-16 14:19] NyakudyaA commented on #125
Are you sure the extension allows publishing VRT directly? what version
of geoserver are you using

[2020-01-17 11:00] medis87 commented on #125
Hi,

my Geoserver is 2.16.0.

I'm not really sure, but the other formats aren't in the list, too.

[2020-01-17 11:37] NyakudyaA commented on #125
Hi @medis87 I haven't figured out how to add the gdal formats in geoserver 2.16.0 that's why I haven't really published an official version.
Try to use 2.15.2 and below

[2020-01-17 14:28] medis87 commented on #125
With 2.15.2 VRT file is in the list, and I could save it, but there is a java error after a try to publish. May be this is, becace we need GDAl 2.2, and not 2.1. I will have a look more deep in our VRT files. Thx.

[2020-01-17 14:31] NyakudyaA commented on #125
Can you share the VRT if you do not mind or post the logs here

[2020-01-17 15:14] medis87 commented on #125
I attach the whole error message, but I think the main path is:
`Caused by: java.lang.RuntimeException: VRTDerivedRasterBand::IRasterIO:Derived band pixel function 'MSI' not registered.`

[vrt error.txt](https://github.com/kartoza/docker-geoserver/files/4077400/vrt.error.txt)

In our VRT file there is a python function:
[code]

Should I install python? As I see, it is not in the container.

[2020-01-21 13:55] frankhommers commented on #118
I'd like the 2.16.1 on the docker hub as well. So I don't need to roll my own ;-)

[2020-01-21 14:08] NyakudyaA commented on #118
Will roll out one tonight or first thing in the morning

[2020-01-23 06:03] NyakudyaA commented on #118
Build-in progress

![build](https://user-images.githubusercontent.com/2510900/72960550-cfed5080-3db6-11ea-86a9-3e57ca7284f4.png)

[2020-01-23 06:03] #118 closed

[2020-01-23 07:36] NyakudyaA commented on #125
I think you need to install python in the container

[2020-01-23 07:39] NyakudyaA commented on #124
Hi @ErinKenna You need to check the documentation for docker. Healthcheck checks for internal ports, not the exposed port.

[2020-01-23 07:39] #124 closed

[2020-01-23 07:39] #123 closed

[2020-01-23 13:03] frankhommers commented on #118
Thanks! Already running it ;-)

[2020-01-24 12:06] NicolaiMogensen opened #127 "update_passwords.sh is run unconditionally with negative side effects"
`update_passwords.sh` is run unconditionally in the entrypoint with negative side effects when supplying an already existing data_dir.

Not sure if i'm doing it wrong but if i add a new data_dir and edit the `GEOSERVER_DATA_DIR`  in my Dockerfile the `update_scripts.sh` script will run and mangle my `$GEOSERVER_DATA_DIR/security/usergroup/default/users.xml` to be however many rows i had before but

[2020-01-24 12:18] NyakudyaA commented on #127
Hi @NicolaiMogensen You are right the update password script only has a check to see if it has executed before.
 I guess we should add a check also to see if an existing data directory is being used ie migration from one geoserver to another.
Maybe the quickest way would be to add an environment variable like
`EXISTING_DATA_DIR=true/false` and we only run the script if it's a new installation.
If

[2020-01-24 12:20] NicolaiMogensen commented on #127
I think that's a good solution. Perhaps default it to false so existing images don't get regressions

[2020-01-24 12:28] NicolaiMogensen commented on #127
I could open a pull request with something like this added to `entrypoint.sh`
[code]

[2020-01-24 12:31] NyakudyaA commented on #127
Right on the money. Yes, go ahead and don't forget to add a little explanation to the README

[2020-01-24 12:56] #127 closed

[2020-01-27 14:56] orttak commented on #119
I use version 2.15 and when I try to create image mosaic I get an error that Failedrequest. I think Docker can't reach the file. ( I can upload data in web browser. I think, it means geoserver can reach data.)
cat.create_imagemosaic('bandmosaic',r'C:/Users/user/Desktop/4326/tekmosaic/',configure='all',workspace='tiger')
With this code, I can upload image mosaic in windows machine but I use geoserv

[2020-01-27 18:44] NyakudyaA commented on #119
What happens if you use the normal Rest API.

[2020-01-27 19:45] orttak commented on #119
I write django-rest framework to calculate ndvi. After calculation I want to push all data to geoserver. Also I tried with normal rest api(curl).
I share geoserver log in below

![image](https://user-images.githubusercontent.com/28723856/73207941-e3e1db00-4145-11ea-8d6d-c0fe65effe14.png)

[2020-02-13 14:40] frankhommers opened #129 "2.16.2 ;-)"
The subject says it all ;-)

BTW I love your this docker!

[2020-02-13 14:43] NyakudyaA commented on #129
Roger

[2020-02-14 22:58] frankhommers commented on #129
Thanks!

[2020-02-14 22:58] #129 closed

[2020-02-15 10:17] NyakudyaA opened #132 "Running the container as non root"
# Problem

We need to run the container as non root I have created a user to do that https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L112

But once I switch to running it as geoserveruser I experience problems with running SSL which need to be run as root.

# Solution
Investigate and fix

[2020-02-16 16:50] ozoz77 opened #133 "Readme Update"
An update of version 2.16.1 to 2.16.2 "may be" required for the latest build (2.16.2) in the read me file.

**For example:**
docker run -d -p 8600:8080 --name geoserver -e STABLE_EXTENSIONS=charts-plugin,charts-plugin kartoza/geoserver:2.16.1

to

docker run -d -p 8600:8080 --name geoserver -e STABLE_EXTENSIONS=charts-plugin,charts-plugin kartoza/geoserver:2.16.2

[2020-02-26 04:54] bruceh48 commented on #121
@NyakudyaA  Have you had any success getting GDAL 2.4 to work with GS 2.16.x in the Geoserver container?

[2020-02-28 05:33] NyakudyaA commented on #132
This has been fixed in develop branch

[2020-02-28 05:33] #132 closed

[2020-02-28 05:34] NyakudyaA commented on #121
Got it to work partially. The ecw and sid not present though

[2020-03-01 12:10] robsalasco opened #136 "Metadata community extension"
Hi!

First, thank you for the awesome work! I'm trying to incorporate the metadata community extension but can't find their name in the community_plugins.txt list. Is it possible to add it?

https://docs.geoserver.org/latest/en/user/community/metadata/index.html

[2020-03-01 12:33] NyakudyaA commented on #136
Hi @robsalasco , you can make a PR to add it and will merge it,  then the image will be built against it in docker

[2020-03-01 13:37] robsalasco commented on #136
yup it's on nightly https://build.geoserver.org/geoserver/master/community-latest/ so... I have to wait I think.

Thank you!

[2020-03-01 13:37] #136 closed

[2020-03-17 17:13] martzjp opened #138 "Local GeoServer War"
The documentation and setup.sh code show adding the geoserver.war to resources/ as a geoserver-<version>.zip but setup.sh does not unzip the geoserver-<version>.zip into geoserver.war before then trying to unzip the war into ${CATALINA_HOME}/webapps/geoserver. Sections affected starting at https://github.com/kartoza/docker-geoserver/blob/2.16.1/scripts/setup.sh#L148

[2020-03-18 03:16] NyakudyaA commented on #133
Done.

[2020-03-18 03:16] #133 closed

[2020-03-20 12:15] diefergar opened #141 "GeoServer + mongodb plugin"
I try:
`docker run -d -p 8601:8080 --name geoserver -e STABLE_EXTENSIONS=charts-plugin,db2-plugin,gdal-plugin,mongodb-plugin kartoza/geoserver:2.16.2`

but 'mongodb-plugin' is not installed. These are the logs:

[2020-03-20 12:46] NyakudyaA commented on #141
Please take a look at the Readme. https://github.com/kartoza/docker-geoserver#activate-plugins-on-runtime

The gdal-plugin is already installed so you need to exclude it in the list of already installed plugins.
Can you try to activate a single plugin not mongo so that you can eliminate if the logic for activating a plugin on runtime actually works.

[2020-03-20 13:24] hugomau opened #142 "Possible wrong ${CATALINA_HOME}/security folder"
On script` scripts/update_passwords.sh` and when mapping `${GEOSERVER_DATA_DIR}` to a volume the following code block seems to fail.

[code]

Folder `${CATALINA_HOME}/security` does not exist. Is the correct folder `${CATALINA_HOME}/data/security`?

Thank you

[2020-03-20 15:33] #138 closed

[2020-03-20 17:23] diefergar commented on #141
Ok, but mongodb-plugin is not installed. Could you help me with this?

[2020-03-21 07:09] NyakudyaA commented on #142
I will fix this but it doesn’t break anything because of this https://github.com/kartoza/docker-geoserver/blob/master/scripts/setup.sh#L140

[2020-03-21 07:11] #125 closed

[2020-03-21 07:17] NyakudyaA commented on #122
Any update on this. Reopen if you need to

[2020-03-21 07:17] #122 closed

[2020-03-23 11:20] hugomau commented on #142
Be aware that `setup.sh `only runs during `docker build`. On the other hand, `update_password.sh` will run on `docker run` startup and, in the case of using a binded mount, folder `${GEOSERVER_DATA_DIR}` will be empty, and it will brake.

[2020-03-23 11:26] NyakudyaA commented on #142
Noted

[2020-03-27 12:26] Axel13fr opened #143 "Data folder updates not shown in GeoServer Stores Creation"
Hi,

First of all many thanks for this docker image, I've been playing with it for some time successfully.
There's one thing I can't get working:
- my data dir is mounted from Host to Docker container to contain my map data to import
- when starting the container, it sees the map data already in that dir
- when from the host, I'm adding more map data in that dir, I can list them from a /bin/bash i

[2020-03-27 12:59] NyakudyaA commented on #143
Hi, Are you using the file browser when trying to create a new store ?.

Maybe a gif would help explain your scenaria better

[2020-03-27 17:25] NyakudyaA commented on #142
Merged develop with master.

[2020-03-27 17:25] #142 closed

[2020-03-28 15:49] NyakudyaA commented on #119
These are the jars available in the image
![stats](https://user-images.githubusercontent.com/2510900/77827097-640fc700-711c-11ea-8181-90712259185c.png)

Maybe we might need to open an issue with GeoServer to update the jars.

[2020-04-01 09:41] Axel13fr commented on #143
Exactly, I'm using the file browser to create a new store, so that I can select files already present locally on the server. But although I can see from inside the docker that the new files I added after container start are visible, Geoserver doesn't see them on the file browser.

![image](https://user-images.githubusercontent.com/25232369/78122788-84d26800-740d-11ea-8207-e9a06eb4845b.png)

[2020-04-01 10:19] NyakudyaA commented on #143
What image are you using? I am thinking this could be a permission issue. Because if you are using the latest image they are running https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L119

[2020-04-01 13:03] Axel13fr commented on #143
Indeed, geoserveruser is used in the image I'm using. When running a bash inside the docker, I can see though that the Example.tif (which is present before container start) has the same rights as TEST update.tif which was added at runtime.

Could it be a geoserver issue ? I haven't tried to reproduce this by running geoserver outside docker.

![image](https://user-images.githubusercontent.com/2523

[2020-04-01 19:31] stewartgordonsitka opened #148 "GEOSERVER_ADMIN_USER set to non-default doesn't get admin permission"
Hi!

First off, thank you for all of the hard work you've done on this. I'm very grateful, and I've had a lot of fun with this project.

We were having some slight issues with your "update_passwords.sh" script. When setting the GEOSERVER_ADMIN_USER env variable to something other than admin, we noticed that while the user was set up correctly with our corresponding GEOSERVER_ADMIN_PASSWORD env var

[2020-04-01 20:25] NyakudyaA commented on #148
@stewartgordonsitka thanks a lot I will check it out and test

[2020-04-02 06:39] #148 closed

[2020-04-02 06:40] NyakudyaA commented on #143
I have tested this and it works on my side. Are you using a mounted storage or docker storage

[2020-04-02 08:52] NyakudyaA opened #150 "Install extra fonts"
# Problem

Currently, extra fonts are installed during image build we need to migrate the logic to the startup script

[2020-04-02 12:56] Axel13fr commented on #143
I'm using a mounted volume, not a docker volume. From inside the docker, I also tried to copy a file from this mounted volume to another non mounted folder of the container and it didn't show up in geoserver file browser.

My docker 19.03.1 uses overlay2 as storage driver on extfs. What about yours ?

[2020-04-03 11:10] NyakudyaA commented on #143
Hi I have verified this. Will look into this during the weekend. The permisions are wrong because they should be owned by the geoserver user instead.

[2020-04-03 12:52] Axel13fr commented on #143
You are right, the permissions do not match the geoserveruser but that's expected when using bind mount. I'll build the image without the geoserveruser as a test.

[2020-04-08 20:06] arkanoid87 opened #151 "Can't change default password with provided docker-compose stack"
If I run docker compose as-is, I can login with default password provided "myawesomegeoserver", but when I try to change it via web panel I get "invalid password"

If I change GEOSERVER_ADMIN_PASSWORD environment var before running the container, I can't login nor with my provided password, nor with "myawesomegeoserver".

I'm basically stuck using "myawesomegeoserver" on vanilla image

[2020-04-08 21:26] NyakudyaA commented on #151
I think this is because of the geoserver user. The permissions are not being applied properly when using geoserver user. I am going to revert to running it as root until I figure out the docker permissions for running as non root

[2020-04-11 01:42] NyakudyaA commented on #150
Fixed in develop #152

[2020-04-11 01:42] #150 closed

[2020-04-29 16:12] joncantu opened #157 "Mangled Datastor Shapefile URL - Failure To Publish Layer"
I used to be able to simply setup a data store for a shapefile using a public facing AWS S3 URL for the Connection Parameters field and I could publish layers/services for it with no problem. That was version 2.16.0 of Geoserver (build date 18-Sep-2019).

However, on recent Geoserver deploys, the server mangles the URL and attempts to turn it into a file URL like this one for example:
file:///usr/

[2020-04-29 16:34] NyakudyaA commented on #157
Can you give the commit references that you refer to on 18 September. I will investigate and see what is the diff. Are you sure the 2.16.0 image has recently been updated

[2020-04-29 17:12] joncantu commented on #157
I believe this is possibly a geoserver or tomcat container configuration issue?

[2020-04-29 17:25] NyakudyaA commented on #157
Just to be careful the community modules are highly unstable as well. But it will be nice to fix this if the error is coming from the image. What’s the commit that you think broke this

[2020-05-03 19:22] NyakudyaA commented on #143
@Axel13fr Docker permisions are always a pain, you have to fix them before they are copied to the image. Can you test with the 2.17 image where I have removed the geoserver user

[2020-05-03 19:35] NyakudyaA commented on #157
@joncantu what region should I use to test. Can you try out the 2.17.0 image. For me to test i will need to full params you are using

[2020-05-04 16:23] joncantu commented on #157
@NyakudyaA Can you download this shapefile directly if you click on the link?:

https://usgs-shapefiles.s3.amazonaws.com/5e57f958bf0a3642014f3e6c/1790-1823_BlackCone_flow.shp

I would expect this URL to work as the Shapefile Location in Connection Parameters of Shapefile datastore.

I could not get it to work with any recent deployments of Geoserver. For example, if I were to pull the latest karto

[2020-05-04 16:52] NyakudyaA commented on #157
I expect the URL to have the following format
s3://landsat-pds/L8/001/002/LC80010022016230LGN00/LC80010022016230LGN00_B1.TIF?useAnon=true&awsRegion=US_WEST_2 so I need to know yor region to test it

[2020-05-05 00:28] joncantu commented on #157
@NyakudyaA That format is only for an S3GeoTiff (Coveragestore) not a Shapefile (Datastore).  Those are two distinctly different GIS formats (raster vs vector).

[2020-05-20 01:33] exotfboy opened #160 "Support fonts with otf format"
Hi:

As said in the [readme](https://github.com/kartoza/docker-geoserver#installing-extra-fonts), we just need to mount the fonts to `/opt/fonts`:

But how about the fonts with `.otf` format?

[2020-05-20 06:53] NyakudyaA commented on #160
We haven't implemented this as well but you could just modify
in setup.sh add the following
[code]

and also add an entry in start.sh like the below
[code]
You can do the PR I have no time for now

[2020-05-29 08:15] clncy opened #162 "Tomcat configuration poses security risk"
Hi,

It appears that a tomcat user is being created with the password `tomcat`:
https://github.com/kartoza/docker-geoserver/blob/74c4515fb22c79379c1ecdc8b582616c7342cf2f/scripts/start.sh#L87

This user looks to be given the following roles:
https://github.com/kartoza/docker-geoserver/blob/74c4515fb22c79379c1ecdc8b582616c7342cf2f/build_data/tomcat-users.xml#L45

Anyone with access to geoserver can

[2020-05-29 08:28] lucernae commented on #162
Thanks @clncy

The tomcat password is configurable via `TOMCAT_PASSWORD` environment variable (I think).
But to be honest, I always use it by guarding the `/manager` endpoint under nginx, so the exposed service to the public (over internet) is only `/geoserver`, so I never think about this use case before. I will try it and confirm it first.

[2020-05-29 08:39] NyakudyaA commented on #162
@clncy There is an environment variable  `TOMCAT_EXTRAS` that controls having tomcat extras, so if you have that as true then you will need to also have to specify the tomcat password.

Maybe we need to have the `TOMCAT_EXTRAS` default to false and have the readme to be verbose

[2020-05-29 09:02] NyakudyaA opened #163 "Fix env variable for tomcat extras"
# Problem

You can enable and disable tomcat manager by using the env variable `TOMCAT_EXTRAS`
https://github.com/kartoza/docker-geoserver/blob/74c4515fb22c79379c1ecdc8b582616c7342cf2f/scripts/start.sh#L86

However, if you set it to false it will delete all the manager settings. If a user decides to change the env variable from `TOMCAT_EXTRAS=true` to `TOMCAT_EXTRAS=false` and then `TOMCAT_EXTRAS=

[2020-05-29 09:22] clncy commented on #162
Thanks for the quick responses. @NyakudyaA I think that sounds like a good solution.

[2020-05-29 10:41] lucernae commented on #162
@clncy @NyakudyaA
Confirmed that the settings behaves as intented.

The following docker-compose recipes works:
[code]

The new tomcat password has changed.

Practically speaking, I imagine you wouldn't need tomcat manager at all since you would normally restarting the entire service via docker command. But I agree we should put that into readme.

[2020-05-29 10:45] NyakudyaA commented on #162
@lucernae  Maybe in environments where you want someone to manage your instance without giving them access to the server where you have deployed the docker container

[2020-05-30 20:20] #163 closed

[2020-05-30 20:20] #162 closed

[2020-05-30 20:21] #160 closed

[2020-05-30 20:21] NyakudyaA commented on #151
Fixed already as image is using root

[2020-05-30 20:21] #151 closed

[2020-05-30 20:22] NyakudyaA commented on #143
Fixed as image is using root user

[2020-05-30 20:22] #143 closed

[2020-06-23 07:26] davepenton opened #165 "How do I upgrade from Apache Tomcat/9.0.20 to Apache Tomcat/9.0.36?"
I want to upgrade to the latest patched version of Apache Tomcat.

It looks like jre builds have come to an end, so I am trying with jdk. When I build with IMAGE_VERSION=9-jdk11-openjdk-slim, I get a couple of errors:

The first creating a symbolic link:
`Step 9/26 : RUN set -e     export DEBIAN_FRONTEND=noninteractive     dpkg-divert --local --rename --add /sbin/initctl     && ln -s /usr/lib/jvm/

[2020-06-23 07:41] NyakudyaA commented on #165
Yes, you can explicitly set the java home to a different location. Even though you will not need the tomcat manager It will be good to include it for anyone using the image. You can do your PR and we will review it accordingly

[2020-06-25 05:39] davepenton commented on #165
Ok. I have created a PR for your review.

[2020-07-13 10:24] jklimke commented on #121
Are there any advances to make ECW work again in geoserver 2.17 ? what was missing to make it work ?

[2020-07-13 11:10] NyakudyaA commented on #121
You can have a go at it @jklimke , Since geoserver changed the way the gdal plugin is working I tried it once and it didn't work. I haven't tried it again to see if I can get it working.

You can see my question here https://gis.stackexchange.com/questions/347925/configure-the-geoserver-gdal-plugin-on-debian-buster-running-open-jre11

Basically you need to check
* https://github.com/kartoza/docker

[2020-07-22 08:02] evilcins commented on #165
@NyakudyaA the proposed solution appears to work. Any chance you'll move this forward in the foreseeable time?

One other issue that I've came across is that the `stable_plugins.txt` are not installed, because the corresponding download endpoints don't work.

[2020-07-22 08:06] NyakudyaA commented on #165
Yes, Can you change your PR to point to develop and I will merge.

That's all fixed in the develop branch. You can test with the 2.17.1 image that has all the extensions. The 2.17.0 image is built against the 2.17 branch

[2020-07-22 08:10] evilcins commented on #165
cc: @davepenton

[2020-07-22 08:35] evilcins commented on #165
@NyakudyaA On the `develop` branch I'm getting `URL does not exist: https://liquidtelecom.dl.sourceforge.net/project/geoserver/GeoServer/...` for all of the stable plugins.

[2020-07-22 08:55] NyakudyaA commented on #165
Maybe the URL has changed. That is the main reason we have it as a build arg so that you can pass it during building the image

[2020-07-23 01:16] davepenton commented on #165
Ok. I have created a new pull request that bases of the develop branch: https://github.com/kartoza/docker-geoserver/pull/170

[2020-07-27 01:49] davepenton commented on #165
Thanks NyakudyaA, evilcins. I will close this now.

[2020-07-27 01:49] #165 closed

[2020-07-27 13:40] messaoudi-mounir opened #174 "Build with CORS Support not working (following the docs)"
Hi,
By default geoserver disable the cors (check WEB-INF/web.xml file).

the web.xml in usr/local/tomcat/conf/web.xml  (if it's exist, used for all deployed apps in Tomcat) is overrided by web.xml in geoserver/WEB-INF/

So, include a static web xml with CORS support web.xml, you must create the file at **resources/overlays/usr/local/tomcat/geoserver/WEB-INF/**

[2020-07-30 09:20] lwx314781 opened #175 "Render results are messy"
I Released shape of point data and rendered with POI style，so  name property of result  is a messy code.
I don't know if anyone has. Thank you very much

[2020-07-30 09:26] NyakudyaA commented on #175
Can you please describe the problem and the steps you tried. Ideally screeenshots

[2020-07-30 09:49] lwx314781 commented on #175
step1  Download the image and launch it successfully
step2  Enter geoserver and release a Shape file using a similar POI style
step3  switch to Layer Preview tab and use openlayer preview

[2020-08-05 16:44] NyakudyaA commented on #141
This has a pending PR in upstream geoserver so will close here http://osgeo-org.1560.x6.nabble.com/JIRA-GEOS-9403-MongoDB-Plugin-breaks-GeoServer-Admin-UI-td5422413.html

[2020-08-05 16:46] #141 closed

[2020-08-05 16:49] NyakudyaA commented on #175
This is still not clear. Can you add more detail otherwise will close this

[2020-08-05 16:50] NyakudyaA commented on #157
Ping @joncantu Still an issue here or not

[2020-08-05 16:51] NyakudyaA commented on #119
@SamyOteroGlez Is this still valid in the new versions

[2020-08-05 16:52] NyakudyaA commented on #174
@messaoudi-mounir The image should be enabled for CORS by default. Can you test this and let me know if you experiencing problems.

[2020-08-05 18:23] SamyOteroGlez commented on #119
Hi all,

I am currently using v 2.16.x and the issue is still present. However, it seems to be a GeoServer thing.

The documentation states that the body of the request should be like so:
         {
          **'user':** [
                   'userName': 'the-user-name',
                   'password': '5eCur3_P455w0rd',
                   'enabled': true
               ]
          }

         A wor

[2020-08-05 19:20] joncantu commented on #157
I’m no longer at USGS. However, last I checked this was a problem with Geoserver. 
On Wednesday, August 5, 2020, 10:50 AM, mazano <notifications@github.com> wrote:

Ping @joncantu Still an issue here or not

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-06 03:17] lwx314781 commented on #175
使用docker镜像，启动geoserver服务后，发布一个矢量数据（点矢量），记住一定使用一个可以显示NAME属性的style
然后再geoserver的预览，发现NAME属性是乱码的。（我试图改了很多编码方式，但是都无济于事）

[2020-08-06 15:25] NyakudyaA commented on #175
Can you share your data, cannot replicate here

[2020-08-06 15:25] #157 closed

[2020-08-06 15:25] NyakudyaA commented on #119
Thanks, will close for now

[2020-08-06 15:25] #119 closed

[2020-08-14 02:41] tomasz-wojtowicz opened #177 "jms-cluster-plugin problem"
Hi,

docker run -d --name geoserver -p 8080:8080 -e COMMUNITY_EXTENSIONS=jms-cluster-plugin kartoza/geoserver

Unfortunately the geoserver does not start, , i.e. tomcat (http://address:8080/geoserver/web/) returns 404 code.

Any help will be appreciated, regards

[2020-08-15 14:03] NyakudyaA commented on #177
@tomasz-wojtowicz can you share the logs. Also please not that community modules are more likely to break geoserver in some cases than stable plugins. If that is the cause we might have to file an upstream issue

[2020-08-15 14:05] #175 closed

[2020-08-15 23:24] Bandit253 opened #178 "Can't connect to included PostGIS or any other DB"
Hi,
Love your work.
I ran `docker-compose up -d` and I am unable to connect to the DB from Geoserver, nor ant other .  I can from QGIS
![image](https://user-images.githubusercontent.com/9003261/90323232-ca996280-dfa1-11ea-8ec8-463ec6d63746.png)

This is also the behaviour I have with an existing PostGIS DB I have.

Any clues

[2020-08-16 07:47] NyakudyaA commented on #178
What docker-compose did you use.

If you exec into the geoserver container are you able to ping the dB container ?

[2020-08-16 22:55] Bandit253 commented on #178
This is the one I used 'https://github.com/kartoza/docker-geoserver/blob/master/docker-compose.yml'
I did comment out the backup db- as per docs...

1.docker run --name "postgisX" -d -t kartoza/postgis:12.0
2. docker exec -it c57ee9883ac6 /bin/bash
3. ping <IP> 192.0.17.3

[2020-08-17 05:15] Bandit253 commented on #178
Sorry re-reading that maybe a little confusing
I **can** connect to the DB (and another existing one) from QGIS
NOT from the GeoServer
One google result said the error was because Geoserver didn't have the PostGIS driver - I doubt that
Oh and the ping above was unsuccessful

[2020-08-17 06:23] NyakudyaA commented on #178
You only need the PostgreSQL client if you need to access the database inside the geoserver container using psql. In all other situations geoserver store will connect to the database because it has the necessary libs.

When you define a store make sure to identity the host properly. The host should be db not localhost

[2020-08-17 12:02] tomasz-wojtowicz commented on #177
Imo the most suspicious messages:

[0.007s][warning][gc,ergo] -XX:NewSize and -XX:MaxNewSize override -XX:NewRatio
14-Aug-2020 02:14:55.198 SEVERE [main] org.apache.catalina.core.StandardContext.startInternal One or more listeners failed to start. Full details will be found in the appropriate container log file
14-Aug-2020 02:14:55.236 SEVERE [main] org.apache.catalina.core.StandardContext.startIn

[2020-08-17 22:05] Bandit253 commented on #178
Yep OK, I get that but what is the 'host'? Is it the container name, it address?
Sorry I am such a noob, how do I find the host?
Thanks so much in advance for all the assistance and fabulous images.

[2020-08-19 16:04] NyakudyaA commented on #178
![db-host](https://user-images.githubusercontent.com/2510900/90660591-6b0fb100-e246-11ea-89ec-712448be73a3.png)

[2020-08-20 07:43] Bandit253 commented on #178
Thanks again but unfortunately that does not seem to work, or I have missed the point of your red arrow :)
I have tried docker-env and docker-env/db.env and now I get a different errror
![image](https://user-images.githubusercontent.com/9003261/90730964-5d246380-e30c-11ea-969b-3aa6f5982d0e.png)
![image](https://user-images.githubusercontent.com/9003261/90731082-87762100-e30c-11ea-9369-1f5dcbf6c40e

[2020-08-20 07:46] NyakudyaA commented on #178
@Bandit253  change the host from `docker-env` to `db`

Read https://stackoverflow.com/questions/35832095/difference-between-links-and-depends-on-in-docker-compose-yml

[2020-08-20 07:51] Bandit253 commented on #178
reading that now but merely changing to 'db' resulted in
![image](https://user-images.githubusercontent.com/9003261/90732016-cd7fb480-e30d-11ea-852c-ee55bb976331.png)

[2020-08-20 07:53] NyakudyaA commented on #178
Inside the container, you connect to the port `5432`

[2020-08-20 08:02] Bandit253 commented on #178
mmm if that is possible, maybe It be my particular problem....
would these port configs be conflicting?
![image](https://user-images.githubusercontent.com/9003261/90733006-46334080-e30f-11ea-9feb-2f54345361dc.png)

[2020-08-20 08:06] NyakudyaA commented on #178
Hi @Bandit253 Can you please look at our offering here https://kartoza.com/en/shop/product/support/. You could take out a small office contract and we can give you a detailed walkthrough in setting up this service and a crash course in docker

[2020-09-02 13:40] mitkin opened #179 "Including mongodb-plugin breaks tomcat/geoserver"
Issue tested with geoserver 2.16.2, 2.17.1 and 2.17.2.

I run docker container as per instructions, but if I include mongodb-plugin in stable_extensions list, I get 404 page served by tomcat. If I don't include mongodb-plugin geoserver instance works as expected. Including a different plugin, for example netcdf-plugin does not break anything.

Can anyone confirm the same behaviour for when mongodb

[2020-09-02 13:52] NyakudyaA commented on #179
@mitkin please take a look at http://osgeo-org.1560.x6.nabble.com/JIRA-GEOS-9403-MongoDB-Plugin-breaks-GeoServer-Admin-UI-td5422413.html

[2020-09-03 11:15] gubuntu commented on #121
here's a working approach from a friend Kartoza (in Afrikaans)

[2020-09-03 11:22] NyakudyaA commented on #121
Thanks, @gubuntu. I am not sure what is the best way in terms of compiling using an SDK that you individually download after agreeing to the license terms and then make the image publicly available. Isn't that in breach of the license agreement?

[2020-09-03 11:24] gubuntu commented on #121
I don't think we should include ecw in our image for those reasons but this offers an option for users who want it

[2020-09-03 11:54] mitkin commented on #179
thanks. Adding app-schema-plugin didn't help though, admin ui page still returns 404. Actually when app-schema-plugin is loaded alone (no mongodb-plugin) same thing happens.

[2020-09-09 11:47] petermant opened #180 "Version numbering is confusing / broken?"
In build.sh, there are three variables which ought to dictate the version being built:

MAJOR=2
MINOR=17
BUGFIX=1

However, in the docker file, there is this:

ARG GS_VERSION=2.17.2
ARG WAR_URL=http://downloads.sourceforge.net/project/geoserver/GeoServer/${GS_VERSION}/geoserver-${GS_VERSION}-war.zip

So it's not clear whether the build is 2.17.1 or 2.17.2 - especially as the last commit message in

[2020-09-14 21:17] NyakudyaA commented on #180
This has been fixed.

[2020-09-14 21:17] #180 closed

[2020-09-14 21:18] NyakudyaA commented on #178
This is user error

[2020-09-14 21:18] #178 closed

[2020-09-14 21:19] NyakudyaA commented on #179
@mitkin can you try it using the latest image 2.17.2

[2020-09-14 21:22] NyakudyaA commented on #174
Cors are enabled by default from line 73 in the dockerfile

[2020-09-14 21:22] #174 closed

[2020-09-15 12:19] mitkin commented on #179
@NyakudyaA works fine! thanks!

[2020-09-15 16:27] #179 closed

[2020-09-18 10:30] zuohuaijun opened #184 "geoserver can't open"
docker run --name geoserver -v /e/DockerData/geoserver_data:/opt/geoserver/data_dir -p 8080:8080 -d kartoza/geoserver

The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.

[2020-09-18 10:39] NyakudyaA commented on #184
Can you share your logs? Can you also try it without a volume or using docker volume

[2020-09-18 10:57] zuohuaijun commented on #184
NOTE: Picked up JDK_JAVA_OPTIONS: --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.rmi/sun.rmi.transport=ALL-UNNAMED

[0.002s][warning][gc,ergo] -XX:NewSize and -XX:MaxNewSize override -XX:NewRatio

18-Sep-2020 10:56:15.632 INFO [main] org.apache.catalina.startup.VersionLoggerListener.log Server version name: Apache Tomcat/9.0.20

18-Sep-2020 1

[2020-09-18 10:58] zuohuaijun commented on #184
docker run --name geoserver -p 8080:8080 -d kartoza/geoserver.     it without a volume, also can't open.

[2020-09-18 11:18] NyakudyaA commented on #184
If you go to http://localhost:8080 it will show you that error message because by default tomcat web app is off, https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L44

try : docker run --name geoserver -p 8080:8080 -e TOMCAT_EXTRAS=true -d kartoza/geoserver
this will respond when you go to http://localhost:8080 and also http://localhost:8080/geoserver

[2020-09-19 02:44] zuohuaijun commented on #184
It's ok http://localhost:8080/geoserver,but not http://localhost:8080 . Thank you.

[2020-09-19 02:49] #184 closed

[2020-09-22 09:43] sungle3737 opened #185 "geoserver data migration not working"
[code]

I needed to migrate docker to another server but data did not well migrated
![image](https://user-images.githubusercontent.com/27716524/93865837-d3e4c000-fd01-11ea-840e-08bb5da4f9b7.png)

I copyied workspaces folder in data
Only 1 workspaces is here but my workspaces was 3

![image](https://user-images.githubusercontent.com/27716524/93865525-6769c100-fd01-11ea-8f6d-84e6a2a3ebb6.png)

Even

[2020-10-03 08:29] NyakudyaA commented on #185
@sungle3737 you seem to be using an image that is not from kartoza. I am not sure we can help if that is the case

[2020-10-03 08:35] sungle3737 commented on #185
Mistake!

[2020-10-03 08:35] #185 closed

[2020-10-09 15:31] NyakudyaA commented on #177
This works in the latest 2.18.0 image

![image-clust](https://user-images.githubusercontent.com/2510900/95602450-3c97a080-0a55-11eb-871c-dfaf9c11bb05.png)

[2020-10-09 15:31] #177 closed

[2020-10-21 13:38] mcfwesh opened #194 "Cannot publish coverage store and layers"
I cannot seem to publish coverage stores for tiff files in Geoserver. I use the REST API to do this. The store shows up, but I cannot publish layers as it gives errors.

 I think this might be due to the user settings in the docker geoserver because this works on my local geoserver. I have not tampered with anything yet. Is there anything I can do?
<img width="1440" alt="Screenshot 2020-10-21 at 1

[2020-10-21 13:52] NyakudyaA commented on #194
@mcfwesh What geoserver version are you running ?. What command are you using to create the layer using the rest api.
What version is it working from. We are trying to migrate to a dedicated user to navigate docker security issues

[2020-10-21 14:01] mcfwesh commented on #194
Geoserver version. 2.18.0
Command used : From Python;
`import requests

# define your parameters
url = 'http://localhost:8600/geoserver/rest/workspaces'
headers = {'Content-Type': 'text/xml'}
auth = ('admin', 'myawesomegeoserver')
workspace = '<workspace><name>h2-atlas</name></workspace>'
datastore = """
<dataStore>
  <name>nyc</name>
  <connectionParameters>
    <host>db</host>
    <port>5432</po

[2020-10-21 14:05] mcfwesh commented on #194
Geoserver version: 2.18.0. The latest on the image
Python Code below:
[code]
I do not get the third question

[2020-10-21 14:08] NyakudyaA commented on #194
You said `because this works on my local geoserver` so I was asking what version does it work against. I will give it a spin and revert

[2020-10-21 14:14] mcfwesh commented on #194
Oh ok. It works against the exact same version. 2.18.0

[2020-10-21 19:10] mcfwesh commented on #194
I think to upload a coverage resource and successfully publish the layers, one has to upload from the 'data_dir' of geoserver and not the local storage. This approach also worked with my local geoserver.

Now, when I build the image, the geoserver and postgis volumes are not mounted as folders on automatically. I had to use the 'docker run' command to mount them individually.
The issue, is when I

[2020-10-21 20:15] NyakudyaA commented on #194
@mcfwesh You just need to mount your local folder into the geoserver data-dir something like
[code]
This way you can then just load your layers in /data/geoserver_data then it will be inside the container

[2020-10-21 23:27] mcfwesh commented on #194
Thanks for this. I successfully loaded them

[2020-10-21 23:27] #194 closed

[2020-10-27 17:56] SamyOteroGlez opened #196 "Increasing java memory"
Hi all,

I am having problems defining/working with the memory java is able to allocate by default.

According to the documentation if I define the values for:
[code]
I can increase java memory usage (Xms and Xmx).

Unless I am looking in the wrong place, it is not affecting those values inside the container.

Here is part of my docker-compose file where I define the min and max to be 4G and 8G re

[2020-10-27 19:35] NyakudyaA commented on #196
You do not need to inspect those values inside the container. You can use the `Server Status` page in GeoServer
![server-status](https://user-images.githubusercontent.com/2510900/97353129-4f570580-189c-11eb-945d-07c8efa6b0bb.png)

[2020-10-28 14:09] SamyOteroGlez commented on #196
I can confirm that max value under `Memory usage` match with the `MAXIMUM_MEMORY` defined in the configuration in my docker-file.yml

But I should not get similar results while in the container as well?

[2020-10-28 14:35] NyakudyaA commented on #196
@SamyOteroGlez you are not using the correct command. Check the documentation properly https://docs.geoserver.org/stable/en/user/production/container.html

It mentions
Check defaults for your hardware using
`java -XX:+PrintFlagsFinal -version | grep HeapSize`

Alternatively https://stackoverflow.com/questions/5317152/getting-the-parameters-of-a-running-jvm

[2020-10-30 15:09] SamyOteroGlez commented on #196
Following your recommendations, I was able to get the expected values inside the container. Here are the steps:
- ssh into the container
- install procps: `apy-get install procps`
- run: `ps -aux | grep "java"`

That will show the values previously defined.

Thanks!

I will close this issue.

[2020-10-30 15:10] #196 closed

[2020-11-02 09:54] mcfwesh opened #197 "Image Pyramid Plugin"
Is the Image pyramid plugin included in the stable plugins allowed? I plan on creating a  raster coverage store of pyramids. If it's not included, is there an alternative?

[2020-11-02 10:01] NyakudyaA commented on #197
Have you read the README?

[2020-11-02 10:12] mcfwesh commented on #197
So sorry. I have seen it. I was mistaken between image mosaic and image pyramid

[2020-11-02 10:12] #197 closed

[2020-11-03 12:11] frankhommers opened #198 "Permissions issue in 2.18"
I run this:

`docker run --name geoserver1 -d --restart always -e INITIAL_MEMORY=1536M -e MAXIMUM_MEMORY=3584M -v /srv/geoserver/geoserver1:/opt/geoserver/data_dir -p 8080:8080 kartoza/geoserver:<version>`

And when I replace `<version>` with `2.17.2` it works:

[code]

And when I replace `<version>` with `latest`  or `2.18.0` it does not work and starts looping:
[code]

[2020-11-03 12:19] NyakudyaA commented on #198
What are the permissions for the `/srv/geoserver/geoserver` folder. Ideally, this should not be owned by root because in 2.18.0 we are trying to migrate from using root access because of the security implications of running containers as root. Reference https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L127

[2020-11-03 15:17] frankhommers commented on #198
The permissions on /srv/geoserver/geoserver1 are root. What should they be then?

[2020-11-03 15:51] NyakudyaA commented on #198
Just change ownership to a normal user for the whole data directory recursively. Also remember when you using an existing data directory you need https://github.com/kartoza/docker-geoserver#upgrading-image-to-use-a-specific-version

[2020-11-06 12:40] loridigia opened #199 "2.17.1 image error"
The image 2.17.1 is actually the geoserver version 2.17.2

[2020-11-09 14:18] NyakudyaA opened #200 "Running image in SE linux and enterprise docker"
# Problem

While the image works well with on Debian system we need to investigate the best practices for running the image on SE Linux and Enterprise docker environment.

References
https://docs.datadoghq.com/security_monitoring/default_rules/cis-docker-1.2.0-5.12/

#195

# Solution

Spin up virtual env and tune the image to be able to run in the enviornment. Document the procedure or any instruc

[2020-11-20 08:13] NyakudyaA opened #202 "Build tests for the image integrate with github workflows to publish images"
# Problem

We need to have a test for this image so that when we monitor the quality of the builds and we do not have things breaking.

# Solution

The test should cover i.e
* Different base builds
* Builds from user-specified URL
* Test CORS support
* Plugins install both the community and the stable plugins installed with env variables
* Standard plugins that are installed as part of the image i

[2020-12-01 09:28] mpschaeuble opened #203 "GEOSERVER_DATA_DIR sync issue"
For development purposes, I mount a local data dir directory to the container using:
[code]

Since version 2.18 I noticed that files in data_dir/gwc are not in sync anymore. I suppose the reason is the change in Dockerfile in the commit https://github.com/kartoza/docker-geoserver/commit/411816fc7d77033a0547f07f46f3adef68f4fabd
This lead to an additional mount point in the docker container that pre

[2020-12-01 10:33] NyakudyaA commented on #203
@mpschaeuble what if you create the geoserver data dir and the gwc before mounting them. The idea is to have files that are not being run as root so that if you need to make changes outside the container you do not have to sudo the config files.

[2020-12-03 15:35] mpschaeuble commented on #203
@NyakudyaA I don't really get your point: The local data dir exists before starting the container.

[2020-12-09 11:24] mcfwesh opened #204 "Cannot route to geoserver container when app is deployed online."
For some days, I have been trying to route to my geoserver container and get map tiles in my application after deploying it online. The name of my container is `geoserver`, and the ports are `8443:8443`. I make a request from my frontend like so: `http://geoserver:8443/.....` to get the tiles, but I get no response. Bear in mind, that in development, this totally works with `localhost`. I really n

[2020-12-09 12:41] NyakudyaA commented on #204
Hi, @mcfwesh I think your question is more about how docker works rather than the image.  I encourage you to use stack exchange which works better to answer generic questions about docker. Can you please
Why do you need the external_links if all the services are in the same network?

Are you fetching the tiles externally?. if you exec the Nginx container can you ping the geoserver container using

[2020-12-09 12:59] mcfwesh commented on #204
Thanks for your swift response. I have posted on stack overflow as well, but I just feel I should post here as well.

I really do not think I need it. It works without it as well. I was just trying out different things, due to my inability to make it work.

And yes, I can successfully ping the geoserver container when I am in the 'h2-atlas' container.

This is the front end config.

nginx.conf:

[

[2020-12-09 13:06] NyakudyaA commented on #204
If you proxy pass geoserver it has to be:

[code]

Then GeoServer will be available under `http://domain/geoserver`

[2020-12-09 16:08] mcfwesh commented on #204
Thank you so much . That actually opened the geoserver dashboard online, but still I cannot access it from my frontend
I have two questions:
1. I cannot log in with the default login parameters of : `admin` and `awesomegeosever` but I can login with `admin` and `geoserver`, however I cannot view my uploaded data even when my volume was indicated in the docker-compose file. How do I view my already

[2020-12-09 16:53] NyakudyaA commented on #204
The default user:pass is admin:geoserver not the awesomegeoserver.

Are you able to upload data once you have logged into the GeoServer

@mcfwesh I guess you could benefit from the https://kartoza.com/en/shop/product/support/ where you could buy a couple of hours of support so that we can help you debug your application and give advice on the best practices for running GeoServer or docker images i

[2020-12-09 17:11] mcfwesh commented on #204
I have been using 'myawesomegeoserver' since I pulled the image. That is what the `.env` file comes with.
Does it mean I have different geoserver instances in development and production?

For uploading, I can't because I cannot find my files in the datadir directory anymore, so therefore I have nothing to upload.

I just need pointers. Unfortunately, the subscription is not affordable at this time

[2020-12-10 12:42] NicolaiMogensen opened #205 "INSPIRE plugin is not listed in either stable_plugins.txt or community_plugins.txt"
The INSPIRE plugins lives here:
https://sourceforge.net/projects/geoserver/files/GeoServer/2.18.0/extensions/geoserver-2.18.0-inspire-plugin.zip/download

But is not mentioned in the two files containing plugins.

I would have expected to find it here:
https://github.com/kartoza/docker-geoserver/blob/master/build_data/stable_plugins.txt

[2020-12-10 12:49] NyakudyaA commented on #205
There are some plugins that are automatically installed as we view them as core or very important i.e https://github.com/kartoza/docker-geoserver/blob/2.18.0/scripts/setup.sh#L58

[2020-12-10 12:49] #205 closed

[2020-12-10 12:53] NicolaiMogensen commented on #205
Ah, how could I have missed that! Thank you!

[2020-12-10 15:07] mcfwesh opened #206 "Data fails to persist on remote host."
In my localhost, my data persists, even when I restart or rebuild my containers. I can find my workspaces, stores and layers together with my settings. More importantly, I can login with my chosen username and password indicated in the `.env` file.
This is not the case for my remote host where I deploy. Since I only cloned my repo in the host, I expected the same as my local development.
However,

[2020-12-10 15:09] NyakudyaA commented on #206
@mcfwesh Will check this later

[2020-12-10 15:11] mcfwesh commented on #204
Just to update you, I can now access my data from my frontend. Thank you! However , there is another problem which is quite strange [#206](https://github.com/kartoza/docker-geoserver/issues/206#issue-761321066)

[2020-12-10 15:11] #204 closed

[2020-12-16 10:07] mcfwesh commented on #206
Hello. Any solution yet?

Apparently, when I tried earlier versions, the data persisted, but some useful extensions that I need could not be installed. This development has slowed me down

[2021-01-07 04:13] 454003865 commented on #103
Chinese is not supported

[2021-01-07 07:00] gitzhang commented on #103
你可以自己在fonts中添加中文字体

[2021-01-13 08:43] stanom opened #207 "missing "inspire-plugin""
There is no inspire plug-in in a group of stable plug-ins.

[2021-01-13 08:44] NyakudyaA commented on #207
It's installed by default https://github.com/kartoza/docker-geoserver/blob/master/scripts/setup.sh#L58

[2021-01-13 08:44] #207 closed

[2021-01-13 09:20] stanom commented on #207
Thanks for prompt response.

You may just need to add information about the activated module into the section _"Activate plugins on runtime"_, on the [web docker hub page](https://hub.docker.com/r/kartoza/geoserver).

Thanks

[2021-01-13 09:21] NyakudyaA commented on #207
You are free to add that section @stanom and I will merge it

[2021-01-13 09:42] stanom commented on #207
Sorry, of course :-)
OK, I added into `README.md`

[2021-01-20 10:59] davidedelerma opened #208 "docker-compose file and Geoserver backup"
In README regarding Geoserver config backup is written:
[code]
But cannot find any mention to nigthly backups in docker-compose file

[2021-01-20 11:06] NyakudyaA commented on #208
@davidedelerma Sorry it might have been removed. The section should now read
[code]

[2021-01-20 11:17] davidedelerma commented on #208
Is there anyway to have also the backup of the Geoserver configuration ?

[2021-01-20 11:22] NyakudyaA commented on #208
Yes and no. There is a module https://docs.geoserver.org/stable/en/user/community/backuprestore/index.html that allows you to backup GeoServer once it's up and running but I think it only saves the configuration files.

For a full backup with the data, you might want to run some cron job to zip the whole geoserver data directory nightly on weekly depending on your usage

[2021-01-20 11:23] davidedelerma commented on #208
Awesome, thank you very much for your answer

[2021-01-21 09:01] peter-antal opened #209 "Security vulnerabilities"
I scanned the 2.18 version with AWS ECR vulnerability scan and it found 622 vulnerabilities, 3 of them critical. Most of the issues could be solved by upgrading to Debian 10. However, when I tried specifying it in the IMAGE_VERSION param, many things stopped working, even basics like `more`.

Is there a plan to fork this nice work for Debian 10+?

[2021-01-21 09:06] NyakudyaA commented on #209
Thanks, @peter-antal I will check if this image has a build setting that is triggered if the base image changes. If not I will enable this and we can eliminate some of the security vulnerabilities.

Yes, there is a plan to upgrade to Debian 10+ but since this is pro bono work I always do this in my free time. Feel free to do a draft PR and I can give pointers on how to make the Debian 10+ work

[2021-01-21 11:10] #208 closed

[2021-01-22 16:18] undefinedSolutions commented on #209
I can only confirm this. I had kartoza/geoserver:2.18.0 running on my server and was sent an abus message by my hoster.
The server was completely bare apart from the docker image. In use was a firewall, disabled root access and public key authentication.
So the image is the only attack vector.

[2021-01-26 10:35] Ledoux opened #210 "Which version is the latest stable 2.15.2 or 2.16.2 ?"
Hi,

thanks a lot for your amazing work, there seem to have a little discordance here on the stable minor version, s it 15 or 16 ?

![Screenshot from 2021-01-26 11-33-43](https://user-images.githubusercontent.com/3239692/105834137-63f58780-5fca-11eb-92b9-d7db530e36e8.png)

tx

[2021-01-26 10:38] NyakudyaA commented on #210
Hi @Ledoux That is just an example of how you could use it to build. We could improve the wording there to mention that if you need to build the latest version check again http://geoserver.org/download/ to see which one is the latest version

[2021-01-26 13:52] Ledoux commented on #210
Thanks a lot, I also read too fast the README, my bad :).

[2021-01-26 13:52] #210 closed

[2021-01-26 13:56] Ledoux opened #211 "Possible root causes include a too low setting for -Xss and illegal cyclic inheritance dependencies."
I know this issue is kind of related with that one (https://github.com/kartoza/docker-geoserver/issues/99)  but no solutions was ok for my setting and other colleague ones in the company.

We have like 3/4 of the time our container stack overflowing, our /geoserver web application in our kartoza docker says :

[code]

Here are the settings in our docker-compose:
[code]

Maybe should I try somethin

[2021-01-26 14:28] Ledoux commented on #211
and our geoserver Dockerfile:
[code]

[2021-01-26 15:35] NyakudyaA commented on #211
@Ledoux can you send the contents of tomcat-web.xml

[2021-01-26 15:38] Ledoux commented on #211
@NyakudyaA  here it is, thanks a lot :

[code]

[2021-01-26 22:30] opaulochaves opened #212 "How to create geospatial PDFs with GDAL from GeoServer?"
With the available GDAL plugin is it possible to create a geospatial PDF? I'm trying to generate one that is going to be imported into the Avenza Maps app.

[2021-01-27 10:35] Ledoux commented on #211
I tested `FROM kartoza/geoserver:2.15.2` (Sorry, I thought we tested this solution in our team, but apparently not in a proper manner).

and it seems work for now, so I close this issue so long as the bug does not reappear. Thanks

[2021-01-27 10:35] #211 closed

[2021-01-30 06:57] NyakudyaA commented on #212
@opaulochaves these kind of questions are rather asked in stack exchange or the geoserver issue tracker https://gis.stackexchange.com/questions/130345/geoserver-layered-or-georeferenced-pdf

[2021-01-30 06:57] #212 closed

[2021-01-30 06:58] NyakudyaA commented on #206
This is more a user problem than the image itself

[2021-01-30 06:58] #206 closed

[2021-01-30 07:01] NyakudyaA commented on #199
Will fix the tag

[2021-01-30 07:01] #199 closed

[2021-02-01 18:16] NyakudyaA commented on #203
Fixed in develop

[2021-02-01 18:16] #203 closed

[2021-02-02 04:28] #198 closed

[2021-02-09 16:19] rbrdevs opened #216 "TOMCAT_EXTRAS environmen variable fails"
# Problem

- Running version 2.17.2

When TOMCAT_EXTRAS environment variable is setted to "true" the script start.sh throws lines with errors.
Some files/folders doesn't exist.
Content of "tomcat_apps.zip" file is not as expected

[code]

[2021-02-09 16:44] NyakudyaA commented on #216
@dbrdevsi have fixed that issue in develop. You can compare the script start.sh between the two branches to make a PR. Otherwise I will look at it over the weekend

[2021-02-16 21:30] lstillwe opened #218 "Geoserver is not accessible Illegal access"
After pulling docker container : docker pull kartoza/geoserver
... and running : docker run -d --env-file ./env.txt -p 8080:8080 --name geoserver -v /projects:/projects kartoza/geoserver

**curl "http://localhost:8080/geoserver" returns:**
<!doctype html><html lang="en"><head><title>HTTP Status 404 – Not Found</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b

[2021-02-21 21:43] SamyOteroGlez opened #222 "Geoserver behind an nginx reverse proxy"
Hi all,

I am facing an issue with the geoserver where I can access the majority of the links except for the ones that are generated with js.

Here is my setup:
I have the geoserver container running behind an nginx reverse proxy, with nginx I am proxying the traffic from the domain to the container (geo.example.com to 127.0.0.1:8998)
Here is the nginx configuration:
[code]

Everything seems to wo

[2021-02-25 04:49] NyakudyaA commented on #222
Hi @SamyOteroGlez what geoserver version are you running, can you try the 2.18.2 image and see if the problem occurs.

You can also directly setup the geoserver under SSL

[2021-02-25 04:52] NyakudyaA commented on #218
Can you please share the logs when geoserver is starting

[2021-02-25 12:47] SamyOteroGlez commented on #222
Hi @NyakudyaA

We are using Geoserver 2.16.1

How can I do that, directly thru the geoserver UI, before the container starts? is there any example I could follow?

The nginx server is running outside docker.

Thanks

[2021-02-25 12:50] NyakudyaA commented on #222
https://github.com/kartoza/docker-geoserver#running-under-ssl

[2021-02-25 13:19] SamyOteroGlez commented on #222
Tried both options: let the container generate its own certs and importing my own certs via volume, same result.

[code]

[2021-02-25 13:26] NyakudyaA commented on #222
@SamyOteroGlez It looks like those changes are not in the image. I suggest two things
* Cherry the changes from develop into 2.16.1 branch and then we create a new image
* Upgrade your cluster to use 2.18.2 - remembering to use the env `EXISTING_DATA_DIR=true` to skip the password initialization logic

[2021-02-25 15:40] SamyOteroGlez commented on #222
I upgraded the server to 2.18.2 it worked fine using the SSL=true (I am letting the container handle the certs by its own), Then I added the following configuration on nginx:
[code]

and finally executed the letsencrypt to generate certs for the custom domain I am using, in this case: geo.example.com

Thanks for your help @NyakudyaA. I will proceed and close this issue.

Cheers,
Sam

[2021-02-25 15:41] #222 closed

[2021-03-03 03:35] feibenrudian opened #223 "Add Extension not work"
I run my geoserver use this command:
`docker run -d -p 29090:8080 --name geoserver -e COMMUNITY_EXTENSIONS=mongodb-plugin kartoza/geoserver:latest`

but it not work, when I create data store, I can't  see  MongoDB data source.

[2021-03-03 20:29] NyakudyaA commented on #223
What do the logs show?

[2021-03-03 20:30] NyakudyaA commented on #218
Closing due to lack of activity. We using this image daily and runs smoothly

[2021-03-03 20:32] #218 closed

[2021-03-04 01:49] feibenrudian commented on #223
below is the log

[code]

[2021-03-04 02:12] NyakudyaA commented on #223
@feibenrudian mongodb is not a community extension. That’s why you cannot run it. Please check build_data/stable_plugins.txt

[2021-03-05 12:24] feibenrudian commented on #223
mongodb-plugin is https://github.com/kartoza/docker-geoserver/blob/master/build_data/stable_plugins.txt
if I want run the plugin in stable_plugins.txt, how can I do?

[2021-03-05 16:52] NyakudyaA commented on #223
@feibenrudian can you please check the Readme, there is a section there

[2021-03-06 16:54] NyakudyaA commented on #223
@feibenrudian check out https://github.com/kartoza/docker-geoserver#activate-plugins-on-runtime

[2021-03-06 18:10] NyakudyaA commented on #121
I think we can close this, I will add an extra description to the readme letting users know that they need to compile gdal with ecw/Sid support because even the instructions from Geoserver seems to confirm this

[2021-03-06 18:10] #121 closed

[2021-03-06 20:41] NyakudyaA commented on #216
Do you still need this to be ported, Have you tried to run the latest 2.18.2 image which works with this change

[2021-03-07 09:50] NyakudyaA commented on #209
@peter-antal What IMAGE_VERSION were you trying to build against. What is the latest version to test this against. I tried  using `9-jdk11-openjdk-slim` and it works

[2021-03-07 22:37] rbrdevs commented on #216
It would be nice this to be ported, but in fact I will try to update to 2.18.2 asap. Anyway, thanks for the good work

[2021-03-08 02:15] feibenrudian commented on #223
I read this document before https://github.com/kartoza/docker-geoserver#activate-plugins-on-runtime, and follow the document to add  mongodb-plugin, but it not work. so I open this issue. and you replied:

 mongodb-plugin is in the list of build_data/stable_plugins.txt. so I think  mongodb-plugin is a community extension. If you think it is not  community extension, you should remove it from build

[2021-03-08 04:21] NyakudyaA commented on #223
@feibenrudian please look at https://sourceforge.net/projects/geoserver/files/GeoServer/2.18.2/extensions/

This shows that it's a stable extension

I will try running it and if there is a problem I will fix during my spare time otherwise you are welcome to do a PR

[2021-03-09 08:02] NyakudyaA commented on #209
There is something wrong with the upstream image itself. I could not even manage to get tomcat running without anything i.e
`docker run -it -p 8080:8080 tomcat:10-jdk11-openjdk-slim-buster` and then navigating to the browser so the problem needs to be fixed upstream

[2021-03-13 23:30] jamesfry commented on #223
@feibenrudian the README explains there are stable extensions and community extensions, and they are enabled with the STABLE_EXTENSIONS and COMMUNITY_EXTENSIONS environment variables and stable_plugins.txt and community_plugins.txt respectively.

This works fine:
```docker run -d -p 29090:8080 --name geoserver -e STABLE_EXTENSIONS=mongodb-plugin kartoza/geoserver:latest```

[code]

This does not w

[2021-03-14 05:22] NyakudyaA commented on #223
@jamesfry An extension cannot be both a stable and community extension. If it works for the stable ones it means it is a stable extension.

One improvement we can do is check if the extension passed by the env variable is correct so that you can get the correct message. This is something for another day as it is not urgent as the image is working.

If you are still struggling to understand this th

[2021-03-14 05:22] #223 closed

[2021-03-14 13:10] jamesfry commented on #223
@NyakudyaA I understand this - I provided the above reply with examples as evidence so that you could close the ticket.

[2021-03-14 13:27] NyakudyaA opened #226 "Extensions"
We provide three things of extensions.
* stable extensions- installed by default
* stable extensions- activated by env variables
* community extensions- activated by env

If a user passes the wrong env variable there is no way for him to know why the extensions is not working.

# Solution

* When activating extensions check if the zip exists and if not echo appropriate messages
* if zip doesn't ex

[2021-03-14 13:28] NyakudyaA commented on #223
Thanks @jamesfry
This will solve your problem in future #226

[2021-03-22 09:32] varna commented on #209
I got black listed in https://www.spamhaus.org/
I had a clean server with 3 containers: nginx, certbot and kartoza/geoserver

[2021-03-22 19:02] #226 closed

[2021-03-23 14:11] varna opened #228 "Blacklisted by DNS"
My server got blacklisted in https://www.spamhaus.org/ after few days of using this container.

[2021-03-23 14:37] NyakudyaA commented on #228
Hi @varna, I will push a new image sometime later today that uses the new Debian base image. by the way what version of the image were you using?

[2021-03-23 19:37] NyakudyaA commented on #228
@varna Can you try the 2.19.0 image

[2021-03-23 19:38] NyakudyaA commented on #209
@peter-antal, @undefinedSolutions  I managed to build with the specified tomcat, can you try the 2.19.0

[2021-03-26 22:15] tlvu opened #232 "Why republish same docker tag 2.18.2? The new build seems broken by the way."
I was scratching my head as to why the exact same `docker-compose` recipe on the same version `2.18.2` do not work when deploying on a new machine.  It was working fine just a few days ago on another machine.

I was having this errors in `docker logs geoserver`:

[code]

Took a lot of time before thinking about comparing the image hash between my machines.

Old machine that was working:
[code]

Ne

[2021-03-26 22:24] tlvu commented on #232
`kartoza/geoserver:2.19.0` also have the exact same error "`At least one JAR was scanned for TLDs yet contained no TLDs.`" as this re-published `2.18.2`.

[2021-03-27 03:44] NyakudyaA commented on #232
@tlvu what do you mean the new build is broken, doesn't the geoserver startup?
Are you failing to activate some plugins. From the log you posted it doesn't look like it's a big issue.

I have been using the 2.19.0 image for a couple of days and it has been working without any glitches.

As for the update, the reason why I updated the branch was to use a newer tomcat base image with security fixes.

[2021-03-27 04:34] #228 closed

[2021-03-27 04:35] #209 closed

[2021-03-27 16:06] tlvu commented on #232
@NyakudyaA

Geoserver app did not start for me "`SEVERE [main] org.apache.catalina.core.StandardContext.startInternal Context [/geoserver] startup failed due to previous errors`", as in my original issue description.

I also suspected the plugins so I did not activate any and same result.  So both re-published 2.18.2 and 2.19.0 have the same error for me, without plugins.

This is superb.  However

[2021-03-27 16:11] tlvu commented on #232
@NyakudyaA

I have disabled the plugins but maybe some other config that I touch broke it as well.  Will check again on my side as well.

So maybe the build is okay but it's still bad to re-release on an already publicly published tag.

[2021-03-29 20:44] NyakudyaA commented on #232
@tlvu morning have fixed those builds. Can you confirm if all is working and close if so

[2021-03-31 00:26] tlvu commented on #232
Confirmed fixed for 2.19.0.  Will retest 2.18.2 as well.

I will close this issue and open a new issue for changing the format of the docker tag to incorporate the release version?

Curious what was the fix?  New docker base image or actual code change in this repo?

[2021-03-31 00:36] tlvu commented on #232
New 2.18.2 working as well.

However in the logs I see
[code]

Is it expected now to have to also set those 2 env var, in addition to `STABLE_EXTENSIONS` and `COMMUNITY_EXTENSIONS` or there is a new mechanism to enable those extensions?

[2021-03-31 00:36] #232 closed

[2021-03-31 01:35] tlvu commented on #232
Replying to myself:

Base image downgrade from Tomcat 10 back to original Tomcat 9.
* 2.18.0 branch change: https://github.com/kartoza/docker-geoserver/commit/d3745de1e9288bcdb0136bc3314a9e16580fe045
* 2.19.0 branch change: https://github.com/kartoza/docker-geoserver/commit/034d477e02da3df637f68ef2b824ff0c18bcf26a

Why those commits do not reference this issue that if fixes?

[2021-03-31 02:05] tlvu commented on #232
Sorry, my fault, forgot to re-enable plugins.  I was disabling plugins while testing the previous build that had Tomcat 10 where geoserver did not start.

[2021-03-31 02:26] tlvu opened #233 "Published docker images tag on DockerHub are not reproducible"
See consequence in issue https://github.com/kartoza/docker-geoserver/issues/232 and especially comment https://github.com/kartoza/docker-geoserver/issues/232#issuecomment-808754831.

Need to re-release using a different tag so people are aware of it and to ensure reproducibility of already published tag.

Imagine someone already pulled 2.18.2, they will have no idea that what they have is not good

[2021-03-31 02:30] tlvu commented on #232
New issue created https://github.com/kartoza/docker-geoserver/issues/233

As a work-around to ensure reproducibility on my side, I have cached your build on our DockerHub org.  See our PR https://github.com/bird-house/birdhouse-deploy/pull/136 and commit https://github.com/bird-house/birdhouse-deploy/pull/136/commits/babd648aafa3fb23b08e3de64691d040f2e99a1f

[2021-03-31 03:07] NyakudyaA commented on #233
@tlvu I usually publish the images as a once off activity and never release a newer version of the build but in this case there was no actual code changes to break functionality but improvements and fixing security vulnerabilities should be prioritized.

However to address your concern I think we just need to add test so that each PR is validated that it actually is building before being merged. T

[2021-03-31 03:33] tlvu commented on #233
Well different release requires different tag.  Otherwise, how do you distinguish which release is which? How do you communicate there is a new release of the same original product version to fix security issue?

It is very common to have multiple releases on the same original product version.  RPM and DEB packages are very mature packaging format and they even enforce a "release version" on top o

[2021-03-31 11:19] lucernae commented on #233
Thank you for your feedback.

We definitely recognize and acknowledge this issue. These docker images were originally created for our own use case, so we dont think about that far yet at the beginning.

This is in our backlog, but our capacity is limited as we maintain these repo in pro-bono manner. So far, we tried to attempt to fix this issue gradually as we involved with projects that uses the

[2021-03-31 13:04] tlvu commented on #233
Just want to say thanks again for this.  We understand the challenge, being a non-profit organization ourself.

You guys did a really good job, like already said in this PR https://github.com/kartoza/docker-geoserver/pull/230 "Also just would like to say thanks for maintaining this. We upgraded from 2.9.3 to 2.18.2 and it feels like a massive improvements, see https://github.com/bird-house/birdhou

[2021-03-31 13:37] lucernae commented on #233
@tlvu , if you are interested, can you give feedback/suggestion in this GitHub thread:

https://github.com/kartoza/docker-geonode/discussions/6

We are trying to draft a more generic approach for these docker images (the issue about the tagging is one of our longest pain point). We open this discussion there because GeoNode is our most heavily customized images and it's getting confusing to manage

[2021-03-31 22:54] Toucan-Sam opened #234 "latest tag out of date - 404 on /geoserver"
Hey guys,
This appears to be related to #218 and #222 but neither of those provide an actual solution as far as I can tell.

When I start the geoserver container, server:8080/geoserver throws a 404 error.
[code]
I have not deployed with SSL as I intend to use a reverse proxy to do termination.

[code]
Any advice on where I can find more information/logs about why:
`31-Mar-2021 22:42:41.114 SEVERE

[2021-03-31 22:58] tlvu commented on #234
Probably same root cause as https://github.com/kartoza/docker-geoserver/issues/232 You'll have to re-pull again 2.18.2 or 2.19.0.

[2021-04-01 00:33] Toucan-Sam commented on #234
Thanks for the response @tlvu, unfortunately, same issue. Good idea though. The image was older than I thought it was.
[code]

[2021-04-01 00:52] Toucan-Sam commented on #234
@tlvu But you were right in the end.
The `latest` tag is not correctly updated and is using an older and broken image.

Can this please be fixed? :)

[2021-04-01 00:53] tlvu commented on #234
@Toucan-Sam

Maybe try using the `2.19.0` tag?

`latest` tag probably track the `master` branch and currently I still see Tomcat 10 on the `master` branch https://github.com/kartoza/docker-geoserver/blob/6b08be47a6f170fe19f3d8210d42dd8da14d772c/Dockerfile#L2

The root cause of my issue was Tomcat 10.  Downgrade back to Tomcat 9 fixed it, see comment https://github.com/kartoza/docker-geoserver/issu

[2021-04-01 04:24] #216 closed

[2021-04-01 21:28] nicksilver commented on #218
I know this is closed, but I am having this exact same issue. How do I get the logs when geoserver is starting so that I can share them?

[2021-04-01 22:01] nicksilver commented on #218
Ahhh...my issue was fixed by building with the '2.19.0' tag rather than 'latest' per #234

[2021-04-01 22:15] NyakudyaA commented on #218
@nicksilver the latest tag was rebuilt earlier using the same recipe as the 2.19.0 image.

Can you pull the latest tag and test again.
If I get time this morning I will test all these tags 2.18.2,2.19.0 and latest fetching the images from dockerhub

if you need to see the logs you can just start the container and then run `docker logs -f name of container `

[2021-04-01 22:46] nicksilver commented on #218
@NyakudyaA I just pulled the kartoza/geoserver:latest build and everything is working beautifully. Thank you!

[2021-04-02 05:34] #234 closed

[2021-04-06 02:12] Toucan-Sam commented on #234
@NyakudyaA Thank you very much. Understood.

We're using the latest tag to ensure that the development environment is always running the latest versions. This allows us to test for things (eg, a migration from 2.18 to 2.19) and more or less know exactly when things are broken and before they reach production environments. Dev teams can fix what they need ASAP and when they're ready, Ops can bump t

[2021-04-16 04:32] iosefa opened #237 "cannot load custom fonts"
I am trying to load custom fonts to use in my sld labels but it seems that none of my loaded fonts are being installed.

I am using the ` kartoza/geoserver:2.18.0` image. And here is how I am trying to add the fonts:

I copied the `.ttf` files into a `fonts` directory and I mount this volume in docker-compose. Here is the geoserver service as defined in my docker-compose file:

[code]

The content

[2021-04-16 04:52] NyakudyaA commented on #237
@iosefa it’s a bug, we need to include the final destination folder to be also owned by the geoserver user. You can look at line 127 in the dockerfile and adjust accordingly. You can do a PR

[2021-04-16 05:08] iosefa commented on #237
ok, thanks for the reply. I'll send a PR shortly.

[2021-04-29 18:19] jcachat opened #244 "Please add configuration for InitiatingHeapOccupancyPercent"
I have a system that was recently launched that is running the latest docker w/Geoserver 2.18.2.  I also have a couple systems that are running an older version (Geoserver 2.16.2 built a year or so ago).  All of the systems are running in Kubernetes on a dedicated host with 8GB of ram and Geoserver is configured with MAXIMUM_MEMORY of 4GB.  We have been experiencing out of memory errors on the new

[2021-04-29 18:45] NyakudyaA commented on #244
Thanks @jcachat I am not also very experienced with the java but when I configured those new settings was based on https://docs.oracle.com/cd/E40972_01/doc.70/e40973/cnf_jvmgc.htm#autoId2

https://www.oracle.com/technical-resources/articles/java/g1gc.html

However I can setup defaults which work and users can configure them as they wish. I will do a PR sometime when I am free

[2021-04-29 20:07] mikepianka opened #245 "Password changes not working with docker-compose-build.yml"
First off, just want to say thanks for this great image. I'm having an issue changing the admin password when building with `docker-compose-build.yml`. I change the password in the `.env` and then run a build. When inspecting in Docker desktop, I see that `GEOSERVER_ADMIN_PASSWORD` has been changed, but if I try to login to Geoserver only the default `myawesomegeoserver` password works. I also tri

[2021-04-29 20:26] NyakudyaA commented on #245
@mikepianka what branch are you using. Can you try the develop branch.

[2021-04-29 20:36] mikepianka commented on #245
I was using master. I can give develop a try.

[2021-04-29 20:55] mikepianka commented on #245
On develop, it seems like it registers the password change because I can no longer login with the default `myawesomegeoserver`, but unfortunately the new password does not work either for login so you are just locked out of Geoserver.

[2021-04-30 14:32] mikepianka commented on #245
I tried using an older version, 2.18.2, but it seems to have the same issue.

[2021-04-30 18:56] anderson-lactec commented on #245
Same problem here, I changed the password and replace data_dir folder. After this, the password not working anymore.
So, I removed the image and build again, and the default password not worked more.

[2021-04-30 19:26] NyakudyaA commented on #245
@anderson-lactec Does it only happen when you use docker compose ?

[2021-04-30 20:16] anderson-lactec commented on #245
@NyakudyaA , I don't know, but I think yes. The password 'geoserver' worked. I my case, now I changed to get data_dir in my host and not the volume.

[2021-05-04 20:38] anilnatha commented on #245
I'm experiencing this issue but with a normal `docker-compose.yml` file that pulls the image from Docker hub. I tried loading the password through the `.env` file and by using secrets, neither worked for me.  The password for geoserver never updated and the only way I could access the admin interfaces was by using the default geoserver password.

Here is my `docker-compose.yml` that makes use of s

[2021-05-04 21:47] NyakudyaA commented on #245
Thanks for reporting, I will investigate

[2021-05-06 13:26] nicjanic opened #246 "GEOSERVER_DATA_DIR mount on AKS, no rights"
Hello there,

It appears that if you use an AKS volume for the GEOSERVER_DATA_DIR, on workload startup, you don't have suffisant rights (chown occurs in the Docker build, but is overrided on container startup.

The solution could be to add an initContainer to chown the GEOSERVER_DATA_DIR using GEOSERVER_UID=1000 &
GEOSERVER_GID=10001

[2021-05-06 15:53] NyakudyaA commented on #246
hi @nicjanic , Can you do a PR with your suggestion

[2021-05-12 14:57] nicjanic commented on #246
For now, there is no Helm or K8S flavors on the project.

On our Workload, we have added this initContainer to ensure that the permission have been set correctly after the volume is mounted.

[code]

[2021-05-12 20:05] anilnatha opened #247 "Expanding support of specifying passwords with _FILE?"
Regarding the appending of `_FILE` to certain settings to make use of docker secrets, the readme file states that:

Will the other password settings in the `.env` file be able to be configured using docker secrets in the near future? I don't feel comfortable specifying these settings in `.env` since I would like to version control my `.env` file.

The passwords I'm referring to are:

- `JKS_KEY_PA

[2021-05-12 20:46] anilnatha commented on #247
To add to my original post, I noticed that in `scripts/start.sh` there is also a `TOMCAT_PASSWORD` password but I did not see that specified in the `.env` file so that would also be another one to set using docker secrets.

[2021-05-13 11:15] NyakudyaA commented on #247
@anilnatha It should be as easy as referencing it in the `start.sh` script as done in https://github.com/kartoza/docker-geoserver/blob/master/scripts/update_passwords.sh#L21

If you really need this I suggest you make the specific modifications in a PR

[2021-05-13 11:17] NyakudyaA commented on #246
@nicjanic Reference to the helm charts are here https://github.com/kartoza/docker-geoserver/tree/develop#kubernetes-helm-charts

I will look at this issue when I have a spare moment

[2021-05-13 21:01] anilnatha commented on #245
@NyakudyaA I worked with my set up a little more and I am now able to load in passwords using secrets or specifying them in the docker-compose as string literals. I am unsure what the caused the issue I encountered, but wanted to say thank you for trying to investigate.  I also investigated the issue that @mikepianka was having, but haven't found anything yet that would cause this issue with build

[2021-05-13 22:41] anilnatha opened #248 "WMTS Multidimensional extension does not install with Geoserver 2.19"
Hello. First I wanted to say thank you for the excellent documentation, it's helped me learn a lot about how this docker configuration is set up and what options are available for us to configure.

Based on the list of available plugins provided by the [Community Plugins](https://github.com/kartoza/docker-geoserver/blob/master/build_data/community_plugins.txt) list, I added the following to my `.e

[2021-05-13 23:24] NyakudyaA commented on #248
@anilnatha that plugin is correctly listed as a stable_extension so you need to add the env variable for stable extension.

The logic in start.sh is quite clever enough to figure out that it you pass the correct extension name on runtime it will try to locate it from the plugins already downloaded otherwise it will download it from that url and place it in the proper place

[2021-05-16 05:30] #248 closed

[2021-05-17 15:28] gamesbook opened #249 "Configuration when running behind nginx proxy?"
I am trying to run geoserver on a server (for example, `server.backend.co.za`) that is behind a firewall, and where a separate nginx proxy server (for example, running as `server.frontend.co.za`) handles incoming requests.

The nginx maps calls from `/prefix/geoserver` to the http://server.backend.co.za:8124/geoserver/

This works fine for the title page; however all the data links are still shown

[2021-05-17 15:31] NyakudyaA commented on #249
@gamesbook You need to set the `Proxy Base URL` in your GeoServer UI. Currently, we do not have a way to define this as an env variable

[2021-05-17 17:09] gamesbook commented on #249
Thanks.  However, to set the `Proxy Base URL` requires one to login to GeoServer. The login process suffers from the same problem as indicated above - the URLs used by GeoServer are themselves are not correct.

[2021-05-17 17:16] NyakudyaA commented on #249
Please share your nginx config because we are also running the same setup and it works seamlessly

[2021-05-17 17:37] gamesbook commented on #249
If you can share the relevant parts of your config, I can try that.

On Mon, 17 May 2021 at 19:16, mazano ***@***.***> wrote:

[2021-05-17 19:08] tlvu opened #250 "GeoServer do not start when upgrading from 2.9.3 to 2.19.0"
Here is our docker-compose stack for the upgrade https://github.com/bird-house/birdhouse-deploy/pull/136.

A fresh start on GeoServer `2.19.0` without existing data works fine.

But when trying to upgrade from `2.9.3` to `2.19.0` with existing data, GeoServer failed to start.

There is nothing useful in the catalina.log (from `docker logs geoserver`) and geoserver.log (from `docker exec geoserver

[2021-05-20 18:42] tlvu commented on #250
I think this is most suspicious log from tomcat:
[code]

Can someone share a hint how to diagnose this error?

[2021-05-20 19:32] NyakudyaA commented on #250
@tlvu i will answer you properly tomorrow morning but my guess is that from geoserver 2.9 they are a lot of methods which have been deprecated I.e no data support in rasters etc. if I were you I would maybe do the upgrade process in stages.

* start with a data directory with styles from the old geoserver
* add workspaces with database stores etc
* add gwc store

This way you can easily figure out

[2021-05-20 20:35] tlvu commented on #250
@NyakudyaA I think I found how to remove the `WARNING: Illegal reflective access by org.geotools.image.ImageWorker`, see my commit https://github.com/bird-house/birdhouse-deploy/pull/136/commits/601cef7db2e6a4070e898c7277e52934153db207.  Honestly I am not sure what that config does but I do not see the warning in the logs anymore.  Maybe you could take a quick look if this is a good fix.

The only

[2021-05-20 20:42] tlvu commented on #250
Someone else got the same "ApplicationContext unset" and "Illegal reflective access" with Geoserver 2.18.2 in a debian 10 machine with JavaSDK 11 (debian 10 distro) and Tomcat 9 (debian 10 distro): http://osgeo-org.1560.x6.nabble.com/Geoserver-2-18-2-ApplicationContext-unset-and-Illegal-reflective-access-by-org-geotools-image-ImageWr-td5482884.html

Unfortunately no reply in that thread.

[2021-05-21 03:40] tlvu commented on #250
@NyakudyaA I followed your advice and gradually delete stuff in our existing data to see which one is causing Geoserver to fail at starting up. So I wipe everything gradually: workspaces, stores, layers, styles until I got to the extra admin users. It is all the extra admin users that broke the start-up ! Who knows !

I still have no idea why all the existing admin users broke the start-up of the

[2021-05-26 14:47] gamesbook commented on #249
Any chance to share a working setup for mapping from nginx to GeoServer?

[2021-05-26 14:55] NyakudyaA commented on #249
Hi @gamesbook will do so, I guess I will have to add it to the repo and include it in the readme

[2021-05-26 15:08] tlvu commented on #249
@gamesbook @NyakudyaA FYI, this is how we set the `Proxy Base URL` without logging in https://github.com/bird-house/birdhouse-deploy/blob/b60443eb6a38350cc55ad0edb9c296bc0fe7e7c1/birdhouse/config/geoserver/entrypointwrapper#L3-L14

[2021-05-26 15:14] NyakudyaA commented on #249
Thanks @tlvu i will do a PR and add it to the image on the next iteration

[2021-05-28 13:00] NyakudyaA commented on #249
@gamesbook Provided you running nginx in docker here is the config file

[code]

[2021-05-31 23:50] #250 closed

[2021-06-01 18:42] NyakudyaA commented on #249
@tlvu i tried your logic and it didn't work. I only realized that the logic for setting this in place was already there but was for ssl based. I fixed it in the latest dev branch and should work out of the box for ssl and none ssl

[2021-06-01 18:44] NyakudyaA commented on #249
@gamesbook can you try the latest image with the https proxy env variables. I tested it and it worked

[2021-06-01 18:44] NyakudyaA commented on #247
This has been updated in the latest images. All passwords can now be passed as env variables

[2021-06-01 18:45] #247 closed

[2021-06-01 18:47] NyakudyaA commented on #245
I just tested with the latest branches develop and master and could setup passwords. Feel free to open the issue again it it persists

[2021-06-01 18:47] #245 closed

[2021-06-01 18:48] NyakudyaA commented on #237
This is fixed with the latest release in master and develop

[2021-06-01 18:48] #237 closed

[2021-06-05 09:44] #244 closed

[2021-06-05 09:44] #249 closed

[2021-06-08 18:00] abhijitgujar86 opened #257 "error while building image "returned a non-zero code: 100""
Service 'geoserver' failed to build: The command '/bin/sh -c apt-get -y update; apt-get -y --no-install-recommends install fonts-cantarell lmodern ttf-aenigma     ttf-georgewilliams ttf-bitstream-vera ttf-sjfonts tv-fonts  libapr1-dev libssl-dev      gdal-bin libgdal-java wget zip unzip curl xsltproc certbot  cabextract gettext postgresql-client figlet toilet' returned a non-zero code: 100

[2021-06-08 18:24] NyakudyaA commented on #257
@abhijitgujar86 what branch are you building against

[2021-06-12 16:02] NyakudyaA commented on #257
This might have been an internet connectivity affecting this

[2021-06-12 16:02] #257 closed

[2021-06-18 18:09] lstillwe opened #261 "How can I use the JNDI PostGIS datastore?"
As I understand it, I have to put a Resource block in Tomcat's context.xml file describing the DB connection in order to use the JNDI PostGIS datastore. How is this done with this docker image?

Thanks!

[2021-06-18 19:06] NyakudyaA commented on #261
If you are using the latest image you should be able to use https://github.com/kartoza/docker-geoserver#mounting-configs and mount the web.xml but if you are running previous tagged version you should be able to mount the web.xml to the actual location when starting the image

[2021-06-18 19:19] lstillwe commented on #261
Thank you. I saw that I could mount some config files, but I thought I had to put the DB details in **context.xml** (i.e. userid, password) not web.xml?

[2021-06-19 11:49] marckassay commented on #245
@NyakudyaA Creating a build with the latest commit from master ([49754c4](https://github.com/kartoza/docker-geoserver/commit/49754c407d102b7ca7c721f2307eb5ae9077a82f)) gave me this issue. @anderson-lactec's recommendation of using 'geoserver' as password resolved this issue for me.

[2021-06-19 13:44] NyakudyaA commented on #245
@marckassay are you passing the end variable for password. Do you see your password in the startup logs. Are you using host mounted volume or docker volume . I can build fine here using an empty docker volume

[2021-06-19 16:57] marckassay commented on #245
@NyakudyaA Just to clarify, if I recall correctly, I simply followed the instructions [here](https://github.com/kartoza/docker-geoserver#to-build-yourself-with-a-local-checkout-using-the-docker-composebuildyaml), but without modifying env file. And also, I'm using Windows 10 with Docker Desktop inside WSL2, not sure if that is relevant or not. Here is my inspect [log](https://gist.github.com/marck

[2021-06-22 00:42] stevenjh commented on #122
Hi there, I'm working on this at the moment and running into issues too, same situation as the original poster, a completely standard build runs on windows 10, but not in Azure.

I think it relates to the way volumes are handled so I'm trying to adjust the build to remove volumes, and take advantage of Azure Docker Containers built in[ persistence of the 'home'  directory](https://docs.microsoft.c

[2021-06-23 20:37] adjenks opened #263 "Why use insecure requests for builds?"
Why do a lot of the URLs use `http:`  instead of `https:` and why do you use `--no-check-certificate` on wget requests?

I would prefer using TLS wherever possible instead.

[2021-06-23 21:47] NyakudyaA commented on #263
@adjenks the main reason is that we do not want our builds to fail where url are not properly setup or have certificates that haven’t been renewed. If we can be certain that all URL we use for building or downloading have TLS we can switch to them.

What are the implications of using http in downloading binaries etc?

[2021-06-24 04:18] stevenjh commented on #122
I've done some more tinkering with this and found that the default build triggered with `docker-compose -f docker-compose-build.yml up -d --build` does work, once tagged, pushed to azure container registry, and then loaded.

It just doesn't recognise the .env file at all during startup.

Setting the environment variables in the Azure Containers _Configuration_ blade _Application Settings_ translat

[2021-06-24 23:08] adjenks commented on #263
If someone detects that you are using http in builds, they could intercept the request and provide a malicious binary to you instead.

In a similar sense, I would not run an exe file on my desktop computer that was downloaded over http from a website, since I can't guarantee that nobody performed a man-in-the-middle attack when I made the request for the file.

The purpose of TLS is not only to en

[2021-06-25 00:10] NyakudyaA commented on #263
Thanks for the info @adjenks , The geoserver site where we fetch the binary and some plugins hasn’t been under ssl for a while. We could write to them to suggesting that they make it more secure but that’s up to them really.

The second option would be to build the binary and extensions ourselves but that would considerably slow down the build considerably.

for now the best way is to use https wh

[2021-06-25 21:50] adjenks commented on #263
All of the sources I've tried so far have had HTTPS available, I didn't try the community plugins yet though.

Defaulting to secure downloads would be good. Perhaps instead of falling back to HTTP all the time there should be a flag like `ALLOW_INSECURE_FALLBACK` or the opposite like `HTTPS_SOURCES_ONLY`.
I would prefer a secure default which I could choose to switch to insecure.

[2021-06-26 08:30] NyakudyaA commented on #263
How about a fail safe method  like
[code]
then we could call the request like
[code]

This way the builds will always be sucessful

[2021-06-26 17:22] NyakudyaA commented on #263
@adjenks  see https://github.com/kartoza/docker-geoserver/pull/264 and revert

[2021-06-29 22:51] adjenks commented on #263
Yes I think this would be an improvement.
Though this pull request includes many other changes and this build is fairly complex, so I can't comment on the pull request itself because it touches lots of code that I'm not familiar with.

Personally I would want the function to behave like this:
[code]

[2021-07-07 06:06] StruninIhor commented on #121
Any updates on this?
I can't find this extra description of how to compile gdal with ECW support using this container.

[2021-07-07 17:36] NyakudyaA commented on #121
We haven’t been successful to natively get the gdal plugin to read ecw. I doubt we will spend some time trying this out because of the acceptance of cloud optimized tif

[2021-07-07 17:49] StruninIhor commented on #121
Okay, @NyakudyaA, thank you for the quick response. I found a solution that works well for me now: https://github.com/DenisCarriere/Geoserver-Docker.
Maybe we may just move it here someday

[2021-07-07 18:12] NyakudyaA commented on #121
Thanks, maybe I can add it as a build arg and users will choose if they need to, building gdal usually take a lot of time

[2021-07-12 09:44] abhijitgujar86 opened #266 "Error while building image"
dpkg: error processing package python3-minimal (--configure):
 dependency problems - leaving unconfigured
Errors were encountered while processing:
 python3.5-minimal
 python3-minimal

[2021-07-12 09:59] senthils25 opened #267 "Setup SSL on Tomcat/GeoServer - Keycloak"
Hi I am new to docker.
Sorry, This might be a very basic question
I wanted to authenticate my GeoServer using Keycloak server.
Where do I provide these details?

[2021-07-12 10:18] NyakudyaA commented on #267
https://docs.geoserver.org/master/en/user/community/keycloak/index.html

[2021-07-12 10:19] NyakudyaA commented on #266
what branch ?

[2021-07-12 15:11] #267 closed

[2021-07-12 15:14] senthils25 opened #268 "Cannot commit the docker image with changes to GeoServer"
I created workspace, stores and layers in Geoserver running on docker.
To save these changes, I used docker commit, but when I run the saved image, I don't find the workspace and stores on new container.
How to save the changes made to GeoServer(including data directory and users) as new image?

[2021-07-12 16:08] NyakudyaA commented on #268
@senthils25 this breaks the docker principle for images. What is wrong with the mounting the data directory.

I am sure this could because the data directory is mounted so you could try to actually copy the data directory rather than mounting it

[2021-07-12 16:12] senthils25 commented on #268
Yes I do agree. But with changes I make to geoserver data directory, I wanna create a new image with ready to use configuration

[2021-07-12 16:19] senthils25 commented on #268
But my question is why data directory is not saved during docker commit command? Usually any changes made to container are saved but not this geoserver data directory.

[2021-07-12 16:27] NyakudyaA commented on #268
https://stackoverflow.com/questions/46349071/commit-content-of-mounted-volumes-as-well

[2021-07-12 16:29] senthils25 commented on #268
Thank you. will try it out. So by default the Geoserver data directory even if not specified in environment variables is considered as mounted drive?

[2021-07-13 16:12] senthils25 opened #269 "CORS issue in GeoServer"
Hi I am running the Geoserver docker with Data directory mounted.

I am getting CORS error when I give WFS Post request to the server.

I enabled the CORS in Tomcat (tomcat/conf/web.xml) and also in Geoserver (tomcat/webapps/geoserver/web.xml) file.
After enabling the CORS, I get CORS error this time saying that multiple Cross-Origin values present and expecting single value.

[2021-07-13 16:20] NyakudyaA commented on #269
@senthils25 Can you please check gisstackexchange for these kinds of issues. but just to answer you CORS can either be enabled through tomcat (https://github.com/kartoza/docker-geoserver/blob/develop/scripts/start.sh#L13) or directly in web apps folder.
The container already enables it in tomcat

[2021-07-14 07:49] #268 closed

[2021-07-14 07:49] senthils25 commented on #269
@NyakudyaA  Thank you!

[2021-07-14 07:49] #269 closed

[2021-07-19 21:59] rumski20 opened #270 "2.19.1 version not available"
When I try to use version 2.19.1 I get the following error:
`Error response from daemon: manifest for kartoza/geoserver:2.19.1 not found: manifest unknown: manifest unknown`

[2021-07-19 23:17] NyakudyaA commented on #270
@rumski20 it is because that image doesn’t exist yet in dockehub , we haven’t added GitHub workflows for automating publishing the images of

[2021-07-20 12:39] senthils25 opened #271 "Geoserver Data Directory Mounting - No rights"
Hi

I am mounting the directory to geoserver image and passing the enivronment variable EXISTING_DATA_DIR = true and also passing GEOSERVER_DATA_DIR to the mounted volume.

Geoserver ignores this mounted data directory and when I try to bash, I get no permission error for directory inside mounted volume.

What permissions need to be set for mounted volumes and which user?

Thanks in advance

[2021-07-21 13:54] senthils25 opened #272 "Unusual outgoing traffic from docker"
Hi,

After using the geoserver docker, there is unsual huge volume of data in outgoing traffic on UDP port 80 (around 15GB/hour ).

After stopping docker the outgoing traffic is reduced drastically and its normal.

[2021-07-21 14:00] NyakudyaA commented on #272
@senthils25 How does your setup look like ?

[2021-07-21 14:03] senthils25 commented on #272
I pulled the latest image and used the following to start the container

docker run -d -p 8080:8080 --name GEOSERVER -v /var/lib/tomcat9/webapps/geoserver/data:/tmp/geoserver_datadir -e EXISTING_DATA_DIR=true -e GEOSERVER_DATA_DIR=/tmp/geoserver_datadir kartoza/geoserver

[2021-07-21 15:06] lstillwe commented on #261
@NyakudyaA Do you recommend putting the config info for the JNDI connection in web.xml or context.xml? I tried using context.xml, and mounting that in /settings - but that did not seem to work. I am using you latest docker image. Also I saw here (https://docs.geoserver.org/master/en/user/tutorials/tomcat-jndi/tomcat-jndi.html) that I should move the postgresql-42.2.18.jar file to $CATALINA_HOME/li

[2021-07-21 15:16] NyakudyaA commented on #261
@lstillwe It's currently working in the develop branch, All you need to do is add the following env variables

[code]
assuming those variables are defined in the .env
You will need to build the dev branch as I haven't added it to the master branch

[2021-07-21 17:48] lstillwe commented on #261
@NyakudyaA When do you think you will add this to Master? I would rather wait until that is available. Thanks again - Lisa

[2021-07-21 18:18] NyakudyaA commented on #261
I will try to do it later tonight

[2021-07-21 20:01] lstillwe commented on #261
@NyakudyaA Thank you!

[2021-07-22 07:50] #266 closed

[2021-07-22 07:52] NyakudyaA commented on #263
In the current master branch, all requests are now being built with HTTPS.  If a user supplies build args that are not secure it's up to him for that. I do not think we need a flag to stop a build if it uses HTTP since the default is to build with secure URL

[2021-07-22 07:52] #263 closed

[2021-07-22 07:53] NyakudyaA commented on #261
I have merged to master, you should try pulling the image

[2021-07-23 01:35] NyakudyaA commented on #271
You need the directory to be owned by a normal user ie chown -R foo:foo /data

[2021-07-26 05:34] #261 closed

[2021-07-29 12:57] alxcost opened #274 "Layer Groups disappear after restart"
Hi,

I'm launching GeoServer using the following docker-compose script:

[code]

After launching I create a layer group called `Test/Digital Elevation Models (Difference)`
But whenever I restart the container, any Layer Group that I've created seems to just disappear and becomes inaccessible through any protocol (WMS, WFS, etc...).

If I try to create it again, it gives me an error `No GeoServerTi

[2021-07-29 18:35] NyakudyaA commented on #274
What are the logs saying after the restart

[2021-07-30 07:01] adjenks commented on #263
Awesome.

[2021-08-05 12:17] alxcost commented on #274
Hello,

Weirdly, there's nothing besides the standard startup outputs, which is what prompt me to open this issue.

I did some more tests and it seems to be related to using the `/` character in Layer Names. If I don't use `/`, everything seems to work just fine. So if I do:
`Test.Digital Elevation Models (Difference)` = Fine

I wonder if the character isn't being escaped correctly in GeoServer? S

[2021-08-05 12:37] NyakudyaA commented on #274
Maybe take a look at the following issue https://gis.stackexchange.com/questions/392734/looking-geoserver-layer-name-specification

[2021-08-05 14:14] alxcost commented on #274
It doesn't explain why the Layers work fine and are accessible just until the container is restarted though. Also, no errors whatsoever. I'll be more careful with naming I guess.

[2021-08-07 11:57] MaxDragonheart opened #275 "Assign subdomain"
Hi and thank you for working on this image. I'm new into the Docker world, I already have a server with GeoServer, but without Docker; this server is full now and I need to create a new instance passing to Docker.

It was very simple to create a new instance [eratosthenes.massimilianomoraca.com:8600/geoserver](http://eratosthenes.massimilianomoraca.com:8600/geoserver) (*link1*) but now I would to

[2021-08-07 15:45] NyakudyaA commented on #275
There are a couple of solutions here.

1- run geoserver on a default port 80 and then you will not need a port number in the url.
2- the ssl settings only affect the geoserver global settings I.e all layer urls will use that domain you have specified
3- Your nginx config have mixed declarations where you are making it available from / and then /geoserver.
4- how is your nginx installed through doc

[2021-08-07 16:49] julescarpentier opened #276 "Environment variable GEOSERVER_ADMIN_USER_FILE not usable"
When setting GEOSERVER_ADMIN_USER_FILE environment variable (in a compose file for instance) the container fails to start.

Because the GEOSERVER_ADMIN_USER is set to default `admin` in `/scripts/env-data.sh` (ln:226) prior to the check made by `file_env` in `/scripts/update_passwords.sh` (ln:32), the start script exits with error "both var GEOSERVER_ADMIN_USER and GEOSERVER_ADMIN_USER_FILE are se

[2021-08-07 17:35] NyakudyaA commented on #276
@julescarpentier good catch,
I think there are two solutions to this

1- in env-data.sh source the functions.sh and then add all declarations that use
file_env at the top of the file.
2- proceed by deleting the env variable from env-data.sh and add it to update_password

I feel option 1 will be more favorable as it will allow us to add all file_env declarations at the top and this will affect a lo

[2021-08-08 09:17] julescarpentier commented on #276
@NyakudyaA you're right that affects every _FILE variable with non-empty default in env-data.sh.

The changes I made in the pull request follow option 1

[2021-08-08 09:49] #276 closed

[2021-08-08 15:44] NyakudyaA commented on #275
@MaxDragonheart check https://github.com/kartoza/docker-geoserver/blob/master/README.md#reverse-proxy-using-nginx

[2021-08-09 06:48] MaxDragonheart commented on #275
@NyakudyaA thank you, I try It after the holidays

[2021-08-10 15:50] npltr62 opened #281 "permission denied_DATADIR"
I'm running docker_geoserver (v2.19) with docker_postgis in backend.
1 : the script can't mounted data_directory  "cp: cannot create directory '/opt/geoserver/data_dir/user_projections': Permission denied".
2 :also when i run geoserver webinterface there are data and layers whereas environnement variable SAMPLE_DATA is false.

[2021-08-13 13:22] Nkmol opened #282 "Remove `VOLUME` definition in Dockerfile"
Since the PR of https://github.com/kartoza/docker-geoserver/pull/193/commits `VOLUME` have been defined in the Dockerfile. I would advocate removing this definition for the following reason:

Using the `VOLUME` definition, in my opinion, only makes sense when you are using Geoserver as a service through the UI. Where you want the run-time changes to be persistent using docker volumes. In cases whe

[2021-08-14 10:20] NyakudyaA commented on #282
@lucernae What are you views here

[2021-08-14 10:21] NyakudyaA commented on #281
What command did you use to start the container

[2021-08-14 10:22] NyakudyaA commented on #275
@MaxDragonheart I assume this is fixed, I am closing this but feel free to reopen if it still is an issue

[2021-08-14 10:22] #275 closed

[2021-08-14 10:23] NyakudyaA commented on #272
I cannot replicate this @senthils25 , Is this still occurring ?

[2021-08-15 15:01] #274 closed

[2021-08-16 01:13] shermp opened #285 "Making smaller images"
I was wondering why this image seems larger than it really should be, so I did a bit of poking around with [Dive](https://github.com/wagoodman/dive).

I noticed that the following `RUN...` statement in the Dockerfile adds ~600MB to the image:
[code]

Turns out that modifying file metadata such as ownership (so, `chown`) essentially duplicates the file in the layer.

It looks like ideally this `cho

[2021-08-16 09:52] npltr62 commented on #281
here is cmd `sudo docker run -p 8600:8080 --name geoserver --network docker_default -v /volume1/docker/geoserver:/etc/geoserver/data_dir kartoza/geoserver:2.19.0 `

[2021-08-16 13:38] MaxDragonheart opened #286 "Manifest unknown using docker-compose-nginx.yml"
Returned from holidays I've found this [big gift](https://github.com/kartoza/docker-geoserver/blob/master/docker-compose-nginx.yml) for me after the opening of #275
Unfortunately when I use `docker-compose -f docker-compose-nginx.yml up -d --build`, I see this:
[code]
For me this was a first test and then I haven't change nothing inside `.env`.

[2021-08-16 13:42] NyakudyaA commented on #286
I haven't pushed 2.19.2 to dockerhub yet. I will do this tonight but just change to use latest for now as it will fetch 2.19.2

[2021-08-16 13:42] MaxDragonheart commented on #286
Same thing with version 2.19.1
[code]

[2021-08-16 13:45] MaxDragonheart commented on #286
Is it normal that [here](https://github.com/kartoza/docker-geoserver/blob/master/docker-compose-build.yml#L1) the version is `3`  and [here](https://github.com/kartoza/docker-geoserver/blob/master/docker-compose-nginx.yml#L1) is `2.1`?
I'm newbie with Docker, I don't know if this is an hint.

[2021-08-16 13:50] MaxDragonheart commented on #286
Sorry @NyakudyaA I was writing when you was answering to me and this page isn't updated.

[2021-08-16 13:52] NyakudyaA commented on #286
It's just a difference with docker-compose https://docs.docker.com/compose/compose-file/compose-versioning/

[2021-08-17 16:08] #285 closed

[2021-08-17 18:22] NyakudyaA commented on #281
You are mounting the data dir into a none default location but are not specifying the Datadir env variable

[2021-08-17 19:08] #286 closed

[2021-08-18 09:16] npltr62 commented on #281
Do you mean something like that?
`sudo docker run -p 8600:8080 --name geoserver --network docker_default -v /volume1/docker/geoserver:/etc/geoserver/data_dir -e GEOSERVER_DATA_DIR= /volume1/docker/geoserver -e EXISTING_DATA_DIR=true kartoza/geoserver:2.19.0`
I have the same message "Permission denied"

[2021-08-18 12:36] lucernae commented on #281
You had to run it like this:

[code]

Notice the difference in the `-e GEOSERVER_DATA_DIR=/etc/geoserver/data_dir`, it has to point out the location inside the container.

For the `-e EXISTING_DATA_DIR=true` flag, you only need to use it if the volumes already contains existing geoserver data directory (for example if you copy it from elsewhere).

[2021-08-19 01:33] curtis18 opened #289 "Permission deny using community plugin on the version 2.19.2"
The new version of image 2.19.2 happens permission deny using community plugin e.g. activeMQ-broker-plugin and jms-cluster-plugin and it is not successful to create clustering, 2.19.0 is running normal. Thank you.

[2021-08-19 11:07] NyakudyaA commented on #289
Pull again

[2021-08-21 15:35] #289 closed

[2021-08-21 15:35] #272 closed

[2021-08-24 19:05] senthils25 commented on #272
@NyakudyaA  Yes, when I scanned I found some Virus in docker overlay images and that might be causing this issue?

[/var/lib/docker/overlay2/a6236e8c2ff3b5480420bfc929f0fc5e5568fc756a2c2b375561586399a3b6be/diff/tmp/Josho.x86.1: Unix.Dropper.Mirai-7135890-0 FOUND
/var/lib/docker/overlay2/a6236e8c2ff3b5480420bfc929f0fc5e5568fc756a2c2b375561586399a3b6be/diff/tmp/Josho.ppc.1: Unix.Dropper.Mirai-713589

[2021-08-24 20:18] NyakudyaA commented on #272
@senthils25 maybe you could try to build the image with the latest version of tomcat. It's been a while since I tried but it will have less bugs . I will also try when I have time

[2021-08-30 17:29] rmmariano commented on #68
I was having this same problem and I've noticed that the host folder was being created by Docker, which caused the problem.
To fix it, I had to manually create the folder in the host (e.g. `D:/docker/data/geoserver_data`).

[2021-09-01 00:28] BerkayOzen opened #292 "Why GWC url is not default?"
I have a big data set. For this I have to seed the tiles but when I tried to access GeoWebCache from GWCSettingsPage, I got 404 error.

![image](https://user-images.githubusercontent.com/54314280/131592387-a7f84cb2-8575-4bc0-b1cb-ba3b37c7f3b0.png)

Luckily when I opened "localhost/geoserver" page I noticed gwc was there. But its default url must be "localhost/geoserver/gwc/home". My question is wh

[2021-09-01 22:03] NyakudyaA commented on #292
What is your proxy base url. Also describe your setup so that we can be able to assist

[2021-09-02 16:08] BerkayOzen commented on #292
Actually, for now I work in locally so my base url is `http://localhost:8089/geoserver/web/`. I use your 2.19.0 image from docker hub and I run the container with this command:
[code]

[2021-09-03 05:07] NyakudyaA commented on #292
@bushong1 thanks for the suggestion. If you read the .env file all env variables are explained their usages there. And by default that env variable is set to false

[2021-09-03 06:52] BerkayOzen commented on #292
Thank you for the suggestion but I actually don't want to disable the web interface. On the contrary, I want to use it in its widest form. I even want to use geowebcache endpoints as mentioned here. (https://docs.geoserver.org/latest/en/user/geowebcache/using.html#geowebcache-endpoint-url) Because I want to pre-seed big data that will not change using geowebcache and I want to improve performance

[2021-09-07 18:46] bushong1 opened #293 "Web Interface Login button/POST "http" while all other links "https""
Whenever I try to login to my geoserver with a browser, it is failing to connect.  I believe i've tracked it down to the fact that the login url is being presented to the client as HTTP, which is strange because all other URLs on the site are HTTPS as i expect, but not Login.

My system is setup behind a Load Balancer which handles certs/TLS termination, and then proxies requests to the docker con

[2021-09-08 06:37] NyakudyaA commented on #293
@bushong1 If you look at the proxy base URL what is it set to. Maybe you need to define the following env variables https://github.com/kartoza/docker-geoserver#proxy-base-url

[2021-09-08 14:02] guisz1 opened #294 "database targeting error"
in the new version of the container, even though I'm implementing the domain of my database, being in localhost, I end up playing to an ip that has nothing to do with mine, I believe it's some env that's blocking
![image](https://user-images.githubusercontent.com/16584514/132524047-f1f9c3ec-1623-4396-bf72-1e7859260cbf.png)

[2021-09-08 15:17] NyakudyaA commented on #294
@guisz1 Is that version of the image self built or from kartoza dockerhub. If it comes from kartoza dockerhub then that image is only useful with spc geonode and will not work with default geoserver. Please use the standard images kartoza/geoserver:version without any geonode in the name

[2021-09-09 13:11] bushong1 commented on #293
@NyakudyaA thanks for the suggestion, but i've had no luck.  For testing purposes i set:
[code]
With the expectation that the form submission link would be generated with the url: `https://foobarbaz:443/geoserver/[...]`, despite it being a non-SSL geoserver.  But... the form is still be generated as http.
![image](https://user-images.githubusercontent.com/236700/132689735-0c35f26d-5d6e-4102-81f0-7

[2021-09-09 15:01] NyakudyaA commented on #293
Maybe you need to set the https proxy env. Do you have an example of a docker-compose you using or helm chart

[2021-09-14 10:30] pedroetb commented on #293
I'm facing same issue using 2.19.2.

I tried to include protocol at `HTTP_PROXY_NAME` (like `https://geoserver.example.com`), but a `http://` is always added at the beginning (e.g. `http://https//geoserver.example.com`).

Setting `HTTPS_PROXY_*` doesn't help here, they are only applying when using SSL and are useless when running behind reverse proxy.

[2021-09-14 10:32] NyakudyaA commented on #293
Can you please share a docker-compose to replicate

[2021-09-14 11:05] pedroetb commented on #293
When using 2.18.2 is working fine, generating a valid URL for login POST request (with https protocol). Now I'm able to login again, with 2.19.2 the mixed http/https content was breaking it.

I have no easy to use docker-compose example, because it needs Traefik reverse-proxy and I'm using a clustered environment, but these are the used environment variables for primary instance:

[code]

[2021-09-14 13:30] pedroetb commented on #293
Using the new feature for getting config files from `/settings`, got it working adding these lines to `web.xml`:

[code]

Tried using `HTTP_PROXY_NAME` instead of literal value, but doesn't get replaced.

Got the idea from: <https://stackoverflow.com/questions/68783126/issue-with-geoserver-login-with-ssl>

[2021-09-15 10:02] pedroetb commented on #293
Got it working using:
[code]
at `/settings/web.xml`, and setting in environment `CATALINA_OPTS=-DHTTP_PROXY_NAME=${HTTP_PROXY_NAME}` (or `JAVA_OPTS`, both works) and `HTTP_PROXY_NAME=geoserver.example.com`.

[2021-09-15 10:08] Lubchinskiy-Yuri opened #296 "The file epsg.properties is deleted when the geoserver starts"
1. $docker pull kartoza/geoserver:2.19.2
2. $docker volume create --driver local --opt type=none --opt device=/var/lib/docker/volumes/geoserver_data/_data --opt o=bind geoserver_data
3. $docker run -d --name geoserver1 -p 8080:8080 -v geoserver_data:/opt/geoserver/data_dir:   kartoza/geoserver:2.19.2
4. Put the epsg.properties file in the user_projections directory
5. $docker stop geoserver1
6. $d

[2021-09-15 10:16] NyakudyaA commented on #296
You need to mount the files according to https://github.com/kartoza/docker-geoserver#mounting-configs

i.e
[code]
Where `/data` contains the file `epsg.properties`

[2021-09-15 10:55] pedroetb opened #297 "JMS plugin install works only first time"
Code at <https://github.com/kartoza/docker-geoserver/blob/124da11786079a8a849d431a4b99ea0ffe2cc27f/scripts/start.sh#L111> is not reached after first startup, because of `.cluster.lock` file, which is persistent.

Maybe this inner conditional should be run regardless of whether lock file is found or not.

The workaround is explicitly installing jms-cluster plugin.

[2021-09-15 11:10] pedroetb opened #298 "Environment variables not resolved at /settings/* configs"
For example, this substitution https://github.com/kartoza/docker-geoserver/blob/124da11786079a8a849d431a4b99ea0ffe2cc27f/scripts/functions.sh#L101

is done only when using default build_data/* configs, but it will be useful when defining new configs at /settings/*, for all of the supported config files.

[2021-09-15 11:15] NyakudyaA commented on #293
I have just tested this with the following command
[code]

[2021-09-15 11:37] pedroetb commented on #297
Yes, after a container restart, lockfile will be there, but plugin installation not. I think plugin installation should be tried always.

[2021-09-15 11:39] pedroetb commented on #293
Ok, but I prefer not enabling SSL at geoserver side (not needed for my use case). Using the web.xml setting is enough for me.

Thanks!

[2021-09-15 12:11] Lubchinskiy-Yuri commented on #296
Thanks. it worked

[2021-09-15 12:11] #296 closed

[2021-09-15 13:21] #293 closed

[2021-09-15 13:25] bushong1 commented on #293
@NyakudyaA I also prefer not enabling SSL at the Geoserver side.  I'll give the web.xml part a shot.

[2021-09-15 18:50] NyakudyaA commented on #298
@pedroetb are you trying to mount configs with env variables in `settings` folder. Mounting files is meant to override what is in the build_data

[2021-09-15 18:53] #294 closed

[2021-09-16 06:49] pedroetb commented on #298
@NyakudyaA yes, I hoped I could use at /settings the same functionality as in build_data. Using variables allows you to define a single config file for multiple instances (e.g. different nodes in a cluster).

[2021-09-16 12:46] ondrovic opened #299 "[FEATURE REQUEST] - Proxy Base Url Env Variable Support"
Image Version: 2.19.2

It would be great if you could set the `PROXY BASE URL`  in an env variable in the event you cannot login to the ui to set it.

[2021-09-16 13:10] NyakudyaA commented on #299
This is already possible https://github.com/kartoza/docker-geoserver#proxy-base-url

[2021-09-16 14:14] ondrovic commented on #299
This doesn't work if you are terminating ssl at the proxy level

[2021-09-16 15:12] NyakudyaA commented on #299
I don't understand what you are trying to do. Would you provide an example?
Alternatively, you can also mount the `web.xml` to the settings folder and set your proxy base_url in the `web.xml`
https://github.com/kartoza/docker-geoserver#mounting-configs

[2021-09-16 16:24] gianx89 commented on #245
I'm on Windows 10 and WSL2. I'm using docker compose.

in .env I have

`GEOSERVER_ADMIN_PASSWORD=mygeoserverpassword`

and in the docker compose file I have

`- GEOSERVER_ADMIN_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}`

When the boot finishes, I can only login with "myawesomegeoserver"

[2021-09-17 11:52] gianx89 opened #300 "Password change doesn't work"
I'm running 2.19.2 version on Docker for Windows (Windows 10) under ubuntu and WSL2. I'm using docker compose.

In my .env file I have

GEOSERVER_ADMIN_PASSWORD=mygeoserverpassword

and in the docker compose file I have

- GEOSERVER_ADMIN_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}

However, when the boot finishes, I can login only with the old password "myawesomegeoserver".

Am I doing something wrong?

[2021-09-17 12:00] NyakudyaA commented on #300
`myawesomegeoserver` is not the default password. If the substitution was not working it would revert to `geoserver`
but it seems like you might be using an existing geoserver data directory where the password is already changed to myawesomegeoserver from a prior initialisation.

We currently do not have a way to force a reset password multiple times, I will work on it when I have some free time b

[2021-09-17 12:02] gianx89 commented on #300
Ok thanks, I'll try to reset the data, thanks

[2021-09-17 12:02] #300 closed

[2021-09-20 03:09] krisaoe opened #301 "geoserver fails to start"
Following the README instructions for "Local build using repository checkout", the geoserver app fails to start in Tomcat.

Steps to reproduce:
1. Clone repository.
2. .env file used as-is.
3. Build and launch with `docker-compose -f docker-compose-build.yml up -d --build`

Expected behavior:
Geoserver app is started by Tomcat within docker container.

Current behavior:
`docker logs <CONTAINER ID>

[2021-09-20 06:37] krisaoe commented on #301
The problem is that the tomcat docker image was not pinned to a specific version of tomcat, and the `jdk11-openjdk-slim-buster` tomcat tag has recently been updated to tomcat 10, which has breaking changes.

Pinning the `IMAGE_VERSION` to `9.0-jdk11-openjdk-slim-buster` fixes this issue.

[2021-09-20 09:59] NyakudyaA commented on #301
Thanks for picking this up. It seems GeoServer will not be running tomcat 10 for a while https://gis.stackexchange.com/questions/389555/geoserver-not-compatible-with-tomcat-10

[2021-09-20 14:44] tlvu commented on #301
Looks like issue https://github.com/kartoza/docker-geoserver/issues/234#issuecomment-811561207 again (Tomcat 10 base image do not work)?

There was fix on 2.18.0 and 2.19.0 branch https://github.com/kartoza/docker-geoserver/issues/232#issuecomment-810689167 maybe the same should be done on other branches?

[2021-09-20 15:10] NyakudyaA commented on #301
@tlvu different issue here, note we had previously been using jdk11-openjdk-slim-buster without any problem but the image has recently been updated hence the need to pin to a specific version.

[2021-09-20 15:47] #301 closed

[2021-09-28 05:47] NyakudyaA commented on #299
Fixed  by https://github.com/kartoza/docker-geoserver/pull/303

[2021-09-28 05:47] #299 closed

[2021-09-28 06:38] #297 closed

[2021-09-28 19:54] ericsvendsen opened #307 "Geoserver fails on Apple silicon"
When I clone this repository on my M1 MacBook Air and run `docker-compose up`, Geoserver fails to start:
[code]
and
[code]
However, when I clone this repository on my Intel MacBook Pro and run `docker-compose up`, everything runs without any problems.

At first I wondered if this issue was related to #301, but even after pinning `IMAGE_VERSION` to `9.0-jdk11-openjdk-slim-buster` - as described in

[2021-09-29 00:45] NyakudyaA commented on #307
Please see https://hub.docker.com/repository/docker/jeffrosen1092/postgis

Which describes the issue. You will need to build the image locally and use it. Once we have setup GitHub actions to build the image then we can fix the build architecture

[2021-09-29 03:51] ericsvendsen commented on #307
Ah, ok. Thank you for pointing me in the right direction! My apologies for not being able to track this one down.

[2021-09-30 02:58] #270 closed

[2021-09-30 03:06] #281 closed

[2021-09-30 03:07] #292 closed

[2021-10-14 15:05] #271 closed, assigned to nobody

[2021-10-14 17:12] NyakudyaA commented on #282
@Nkmol cc @jmsierra Can either of you make a PR against develop with these changes

[2021-10-15 17:30] robertd opened #313 "Default password is not working"
I'm running `2.19.2` but it appears that default username & password (admin/geoserver) are not working.

![image](https://user-images.githubusercontent.com/31543/137528839-6577cd79-4a94-4e61-a402-41d88d8600da.png)

[2021-10-15 18:52] NyakudyaA commented on #313
That password no longer works, the container now generates a strong password if you do not pass the env variable for password. The password is visible in the logs or inside the security folder of Geoserver as a text file.

We are trying to prevent users running the image in production with default password

[2021-10-15 18:58] robertd commented on #313
Here is where I found this on dockerhub...

![image](https://user-images.githubusercontent.com/31543/137538924-70ec4522-a9bc-43f7-b363-5b49f8bf78dd.png)

[2021-10-15 19:13] robertd commented on #313
@NyakudyaA #314 should fix this

[2021-10-26 19:33] robertd opened #319 "Geoserver base url"
Is there a way to set geoserver base url without introducing nginx reverse proxy?

I'd like to run this in ECS behind a Load Balancer and going directly to `/` (tomcat root) is not what I'm looking for. Is there a way to pass env variable that configures tomcat to go to `/geoserver` by default?

[2021-10-28 15:48] robertd opened #320 "TOMCAT_USER and TOMCAT_PASSWORD stopped working in 2.20.0"
Setting `TOMCAT_USER` and `TOMCAT_PASSWORD` stopped working in `kartoza/geoserver:2.20.0`.

Working example in `2.19.2`:

`docker run -p 8080:8080 -e TOMCAT_USER=admin -e TOMCAT_PASSWORD=password kartoza/geoserver:2.19.2`

![image](https://user-images.githubusercontent.com/31543/139290377-129379fd-6e3a-4add-b3b0-21672230232b.png)

![image](https://user-images.githubusercontent.com/31543/139290503-

[2021-10-29 14:32] #313 closed, assigned to nobody

[2021-10-31 12:44] #282 closed

[2021-10-31 13:07] #320 closed

[2021-11-02 16:12] FedericOldani commented on #222
Hi there, just to mention I faced the very same problem but I wasn't able to solve following this thread.
The error was 400 bad request: Origin does not correspond to request
The solution in my case was to add the hostname as GEOSERVER_CSRF_WHITELIST env variable (https://docs.geoserver.org/stable/en/user/security/webadmin/csrf.html) :
`GEOSERVER_CSRF_WHITELIST=geoserver.example.com`
and now it wo

[2021-11-02 19:47] rumski20 opened #322 "Permissions denied regarding build data directory when starting container"
Hello,
I am unable to start this container.
Geoserver version 2.19.2
Image built from repo:
[code]

`docker` user has full permissions on host.

Here is what I am seeing in the log file:
[code]

Thank you for any help you can provide.

[2021-11-03 04:29] curtis18 opened #323 "Backup and upgrade the service"
Using the 2.20.0 version, it is found that the RANDOMSTRING and INSTANCE_STRING does not work anymore, the cluster folder shows different names for clustered server name. Even I did backup the data_dir, I cannot migrate the data_dir to the 2.20.0 (without clustering) and it will show the following errors. What is the best procedure to do backup and upgrade in using this docker image? Is only data_

[2021-11-03 14:16] NyakudyaA commented on #323
It looks like we might need to add a flag to skip the initialisation of the data directory if you are using an existing data directory.
We need to adjust the following

https://github.com/kartoza/docker-geoserver/blob/master/scripts/start.sh#L159 to become something like
[code]

 For now, what you might need to do is create a text file and mount it to the folder /scripts i.e

[code]
Where the cont

[2021-11-05 09:55] curtis18 commented on #323
Thanks for your reply and great help. I will try it and hope that the future image can have better support on version upgrade and data migration coming from other GeoServer.

[2021-11-05 10:13] NyakudyaA commented on #323
@curtis18 I have a PR which I will be submitting soon. I will ping you to test this